In [1]:
import pickle
import numpy as np
import pandas as pd
import os

In [2]:
x_train_list = pickle.load(open('../../gen_data/x_train--features3.ipynb--.pickle','rb'))
x_test_list = pickle.load(open('../../gen_data/x_test--features3.ipynb--.pickle','rb'))
y_train_list = pickle.load(open('../../gen_data/y_train--features1.1.ipynb--.pickle','rb'))
y_test_list = pickle.load(open('../../gen_data/y_val--simple_validation_split.ipynb--.pickle','rb'))

In [3]:
y_test_list[0].shape

(214200,)

In [4]:
x_test_list[0].shape

(214200, 160)

In [5]:
x_test_list[0].columns.tolist()

['shop_id',
 'item_id',
 'date_block_num',
 'item_category_id',
 'first_sale_date_block',
 'new_item',
 'city',
 'item_type',
 'item_info',
 'prop_median_item_price',
 'sum_item_sales_back_1',
 'sum_shop_sales_back_1',
 'item_cnt_month_back_1',
 'sum_item_cat_sales_back_1',
 'sum_item_cat_shop_sales_back_1',
 'sum_city_back_1',
 'sum_itemtype_back_1',
 'sum_iteminfo_back_1',
 'sum_city_item_back_1',
 'sum_city_item_cat_back_1',
 'sum_itemtype_shop_back_1',
 'sum_itemtype_city_back_1',
 'sum_item_sales_back_2',
 'sum_shop_sales_back_2',
 'item_cnt_month_back_2',
 'sum_item_cat_sales_back_2',
 'sum_item_cat_shop_sales_back_2',
 'sum_city_back_2',
 'sum_itemtype_back_2',
 'sum_iteminfo_back_2',
 'sum_city_item_back_2',
 'sum_city_item_cat_back_2',
 'sum_itemtype_shop_back_2',
 'sum_itemtype_city_back_2',
 'sum_item_sales_back_3',
 'sum_shop_sales_back_3',
 'item_cnt_month_back_3',
 'sum_item_cat_sales_back_3',
 'sum_item_cat_shop_sales_back_3',
 'sum_city_back_3',
 'sum_itemtype_back_3',
 'sum_iteminfo_back_3',
 'sum_city_item_back_3',
 'sum_city_item_cat_back_3',
 'sum_itemtype_shop_back_3',
 'sum_itemtype_city_back_3',
 'sum_item_sales_back_4',
 'sum_shop_sales_back_4',
 'item_cnt_month_back_4',
 'sum_item_cat_sales_back_4',
 'sum_item_cat_shop_sales_back_4',
 'sum_city_back_4',
 'sum_itemtype_back_4',
 'sum_iteminfo_back_4',
 'sum_city_item_back_4',
 'sum_city_item_cat_back_4',
 'sum_itemtype_shop_back_4',
 'sum_itemtype_city_back_4',
 'sum_item_sales_back_5',
 'sum_shop_sales_back_5',
 'item_cnt_month_back_5',
 'sum_item_cat_sales_back_5',
 'sum_item_cat_shop_sales_back_5',
 'sum_city_back_5',
 'sum_itemtype_back_5',
 'sum_iteminfo_back_5',
 'sum_city_item_back_5',
 'sum_city_item_cat_back_5',
 'sum_itemtype_shop_back_5',
 'sum_itemtype_city_back_5',
 'sum_item_sales_back_6',
 'sum_shop_sales_back_6',
 'item_cnt_month_back_6',
 'sum_item_cat_sales_back_6',
 'sum_item_cat_shop_sales_back_6',
 'sum_city_back_6',
 'sum_itemtype_back_6',
 'sum_iteminfo_back_6',
 'sum_city_item_back_6',
 'sum_city_item_cat_back_6',
 'sum_itemtype_shop_back_6',
 'sum_itemtype_city_back_6',
 'sum_item_sales_back_7',
 'sum_shop_sales_back_7',
 'item_cnt_month_back_7',
 'sum_item_cat_sales_back_7',
 'sum_item_cat_shop_sales_back_7',
 'sum_city_back_7',
 'sum_itemtype_back_7',
 'sum_iteminfo_back_7',
 'sum_city_item_back_7',
 'sum_city_item_cat_back_7',
 'sum_itemtype_shop_back_7',
 'sum_itemtype_city_back_7',
 'sum_item_sales_back_8',
 'sum_shop_sales_back_8',
 'item_cnt_month_back_8',
 'sum_item_cat_sales_back_8',
 'sum_item_cat_shop_sales_back_8',
 'sum_city_back_8',
 'sum_itemtype_back_8',
 'sum_iteminfo_back_8',
 'sum_city_item_back_8',
 'sum_city_item_cat_back_8',
 'sum_itemtype_shop_back_8',
 'sum_itemtype_city_back_8',
 'sum_item_sales_back_9',
 'sum_shop_sales_back_9',
 'item_cnt_month_back_9',
 'sum_item_cat_sales_back_9',
 'sum_item_cat_shop_sales_back_9',
 'sum_city_back_9',
 'sum_itemtype_back_9',
 'sum_iteminfo_back_9',
 'sum_city_item_back_9',
 'sum_city_item_cat_back_9',
 'sum_itemtype_shop_back_9',
 'sum_itemtype_city_back_9',
 'sum_item_sales_back_10',
 'sum_shop_sales_back_10',
 'item_cnt_month_back_10',
 'sum_item_cat_sales_back_10',
 'sum_item_cat_shop_sales_back_10',
 'sum_city_back_10',
 'sum_itemtype_back_10',
 'sum_iteminfo_back_10',
 'sum_city_item_back_10',
 'sum_city_item_cat_back_10',
 'sum_itemtype_shop_back_10',
 'sum_itemtype_city_back_10',
 'sum_item_sales_back_11',
 'sum_shop_sales_back_11',
 'item_cnt_month_back_11',
 'sum_item_cat_sales_back_11',
 'sum_item_cat_shop_sales_back_11',
 'sum_city_back_11',
 'sum_itemtype_back_11',
 'sum_iteminfo_back_11',
 'sum_city_item_back_11',
 'sum_city_item_cat_back_11',
 'sum_itemtype_shop_back_11',
 'sum_itemtype_city_back_11',
 'sum_item_sales_back_12',
 'sum_shop_sales_back_12',
 'item_cnt_month_back_12',
 'sum_item_cat_sales_back_12',
 'sum_item_cat_shop_sales_back_12',
 'sum_city_back_12',
 'sum_itemtype_back_12',
 'sum_iteminfo_back_12',
 'sum_city_item_back_12',
 'sum_city_item_cat_back_12',
 'sum_itemtype_shop_back_12',
 'sum_itemtype_city_back_12',
 'month',
 'numdays',
 'mean_prevmonth_item_price',
 'std_prevmonth_item_price',
 'median_prevmonth_item_price',
 'median_prevmonth_shop_item_price']

In [6]:
s = x_test_list[0]
s['target'] = y_test_list[0]

# is s correct?

In [7]:
s.head()[['shop_id','item_id','target']]

   shop_id  item_id  target
0        5     5037     0.0
1        5     5320     0.0
2        5     5233     1.0
3        5     5232     0.0
4        5     5268     0.0

In [8]:
train2 = pd.read_csv('../../gen_data/train2.csv')
train2_33 = train2[(train2.date_block_num==33)]

train2_33[(train2_33.shop_id==5)&(train2_33.item_id==5037)]

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

In [9]:
train2_33[(train2_33.shop_id==5)&(train2_33.item_id==5320)]

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

In [10]:
train2_33[(train2_33.shop_id==5)&(train2_33.item_id==5233)]

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month
1579057,33,5,5233,19,"Вологда ТРЦ ""Мармелад""","Need for Speed Rivals (Essentials) [PS3, русск...",Игры - PS3,1.0

In [11]:
train2_33[(train2_33.shop_id==5)&(train2_33.item_id==5232)]

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

In [12]:
train2_33[(train2_33.shop_id==5)&(train2_33.item_id==5268)]

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

# yes, now it is correct

In [13]:
save_loc = '../../saved_datasets/19-3-19,pipeline_A_reduced_frommaster,dateback=12/'
if not os.path.exists(save_loc):
    os.mkdir(save_loc)
filename = 'xtrain_xtest_ytrain_ytest.pickle'
pickle.dump([x_train_list,x_test_list,y_train_list,y_test_list],open(save_loc+filename,'wb'))

# Now Save CSVs

In [14]:
if False:
    x_train_list[1].to_csv(save_loc+'x_train[1].csv')
    x_test_list[1].to_csv(save_loc+'x_test[1].csv')
    y_train_list[1].to_csv(save_loc+'y_train[1].csv')

    y_test_list[0].to_csv(save_loc+'y_test[0].csv')
    #x_train[0] is a subset of x_train[1]
    x_test_list[0].to_csv(save_loc+'x_test[0].csv')
    y_train_list[0].to_csv(save_loc+'y_train[0].csv')

In [15]:
#31531
np.sum(y_test_list[0]>0)

28348