In [1]:
import numpy as np
import pandas as pd
import pickle
import validation_library as vl
import customModels
import importlib

In [2]:
const_sols = [0.2,0.25,0.3,0.35,0.4,0.275,0.2875]
test_scores = [1.22032,1.21791, 1.21754,1.21922,1.22295,1.21747,1.21744]

In [3]:
f = open('../../gen_data/master_validation_list.pickle','rb')
x_train_list , y_train_list , x_val_list, y_val_list = pickle.load(f)

In [4]:
y_val_list[0].head()

19759    0.0
19760    0.0
19761    0.0
19762    0.0
19763    0.0
Name: sales, dtype: float64

In [5]:
const_names = ['const_'+str(x) for x in const_sols]
validation_df = pd.DataFrame({'model': const_names, 'test_score': test_scores})
for i in range(33,20,-1):
    validation_df['valid_'+str(i)] = np.nan
validation_df

,model,test_score,valid_33,valid_32,valid_31,valid_30,valid_29,valid_28,valid_27,valid_26,valid_25,valid_24,valid_23,valid_22,valid_21
0,const_0.2,1.22032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,const_0.25,1.21791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,const_0.3,1.21754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,const_0.35,1.21922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,const_0.4,1.22295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,const_0.275,1.21747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,const_0.2875,1.21744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
n_folds = len(x_train_list)
for i in range(n_folds):
    loss_list=[]
    for const in const_sols:
        loss = np.sqrt(np.mean((const - y_val_list[i])**2))
        loss_list.append(loss)
    validation_df['valid_'+str(i+21)] = pd.Series(loss_list)

In [7]:
validation_df

,model,test_score,valid_33,valid_32,valid_31,valid_30,valid_29,valid_28,valid_27,valid_26,valid_25,valid_24,valid_23,valid_22,valid_21
0,const_0.2,1.22032,1.091273,1.116781,1.033388,0.950084,1.008844,1.018373,1.079324,1.056900,1.059120,1.216559,1.667856,1.300575,1.130857
1,const_0.25,1.21791,1.089868,1.115820,1.031691,0.949947,1.009019,1.018947,1.079781,1.056308,1.058641,1.214572,1.662383,1.299413,1.131355
2,const_0.3,1.21754,1.090756,1.117098,1.032416,0.952439,1.011668,1.021971,1.082549,1.058081,1.060522,1.214641,1.658401,1.300174,1.134060
3,const_0.35,1.21922,1.093930,1.120608,1.035557,0.957538,1.016772,1.027421,1.087611,1.062207,1.064751,1.216768,1.655919,1.302855,1.138955
4,const_0.4,1.22295,1.099372,1.126329,1.041093,0.965204,1.024294,1.035260,1.094935,1.068659,1.071299,1.220939,1.654945,1.307444,1.146012
5,const_0.275,1.21747,1.090025,1.116179,1.031751,0.950865,1.010035,1.020154,1.080877,1.056899,1.059287,1.214349,1.660205,1.299553,1.132432
6,const_0.2875,1.21744,1.090319,1.116569,1.032008,0.951570,1.010774,1.020986,1.081641,1.057416,1.059831,1.214431,1.659256,1.299803,1.133177

In [8]:
#now lets another set of basic models, aggregating the immediate past

#importlib.reload(customModels)

In [9]:
a = np.array([1,2,3])
np.insert(a,0,[0,0])

array([0, 0, 1, 2, 3])

In [10]:
importlib.reload(vl)

In [11]:
mod = customModels.aggModel(1)
vl.custom_validation(mod,x_train_list,y_train_list,x_val_list,y_val_list)

[1.5497009973386298,
 1.7246293512831246,
 2.1193024041789994,
 2.0672561830166822,
 1.6206649029192683,
 1.5034258979471806,
 1.5156143030791978,
 1.4892001781880542,
 1.4414078213649548,
 1.3916350136467466,
 1.4111914388232578,
 1.527821653872755,
 1.5675276169481096]

In [30]:
np.nan

nan

In [35]:
for i in range(1,6):
    mod = customModels.aggModel(i)
    validation_df.loc[6+i] = np.insert(vl.custom_validation(mod,x_train_list,y_train_list,x_val_list,y_val_list),0,[np.nan,np.nan])

In [36]:
validation_df

,model,test_score,valid_33,valid_32,valid_31,valid_30,valid_29,valid_28,valid_27,valid_26,valid_25,valid_24,valid_23,valid_22,valid_21
0,const_0.2,1.22032,1.091273,1.116781,1.033388,0.950084,1.008844,1.018373,1.079324,1.056900,1.059120,1.216559,1.667856,1.300575,1.130857
1,const_0.25,1.21791,1.089868,1.115820,1.031691,0.949947,1.009019,1.018947,1.079781,1.056308,1.058641,1.214572,1.662383,1.299413,1.131355
2,const_0.3,1.21754,1.090756,1.117098,1.032416,0.952439,1.011668,1.021971,1.082549,1.058081,1.060522,1.214641,1.658401,1.300174,1.134060
3,const_0.35,1.21922,1.093930,1.120608,1.035557,0.957538,1.016772,1.027421,1.087611,1.062207,1.064751,1.216768,1.655919,1.302855,1.138955
4,const_0.4,1.22295,1.099372,1.126329,1.041093,0.965204,1.024294,1.035260,1.094935,1.068659,1.071299,1.220939,1.654945,1.307444,1.146012
5,const_0.275,1.21747,1.090025,1.116179,1.031751,0.950865,1.010035,1.020154,1.080877,1.056899,1.059287,1.214349,1.660205,1.299553,1.132432
6,const_0.2875,1.21744,1.090319,1.116569,1.032008,0.951570,1.010774,1.020986,1.081641,1.057416,1.059831,1.214431,1.659256,1.299803,1.133177
7,NaN,NaN,1.549701,1.724629,2.119302,2.067256,1.620665,1.503426,1.515614,1.489200,1.441408,1.391635,1.411191,1.527822,1.567528
8,NaN,NaN,1.895561,2.003472,2.367416,2.413432,2.298147,1.916890,1.830487,1.810586,1.779829,1.712585,1.715204,1.785723,1.857223
9,NaN,NaN,2.095652,2.262979,2.550068,2.605745,2.576744,2.479927,2.160853,2.066800,2.039037,1.988117,1.963883,2.007119,2.048086
10,NaN,NaN,2.275747,2.416433,2.725308,2.755386,2.743146,2.713983,2.643565,2.342957,2.240987,2.195405,2.186609,2.199826,2.230344
11,NaN,NaN,2.412242,2.547487,2.829186,2.901921,2.893134,2.888643,2.825738,2.764915,2.494222,2.379307,2.368124,2.385241,2.390213

In [38]:
test0 = pd.read_csv('../../original_data/test.csv.gz')
train2 = pd.read_csv('../../gen_data/train2.csv')

y_train = train2['sales']
train2 = train2.drop('sales',axis=1)

In [40]:
mod = customModels.aggModel(3)
vl.create_submission(mod,train2,y_train,test0,file_loc='../../gen_data/auto_week2_3months.csv')
#this creates the same predictions as week2advice

writing file to ../../gen_data/auto_week2_3months.csv

            ID  item_cnt_month
0            0             3.0
1            1             1.0
2            2             0.0
3            3             1.0
4            4             3.0
5            5             1.0
6            6             1.0
7            7             0.0
8            8             1.0
9            9             1.0
10          10             3.0
11          11             2.0
12          12             0.0
13          13             2.0
14          14             3.0
15          15             0.0
16          16             5.0
17          17             2.0
18          18             3.0
19          19             1.0
20          20             0.0
21          21             1.0
22          22             3.0
23          23             2.0
24          24             2.0
25          25             2.0
26          26             1.0
27          27             6.0
28          28             0.0
29          29             0.0
...        ...             ...
214170  214170             0.0
214171  214171             0.0
214172  214172             0.0
214173  214173             0.0
214174  214174             0.0
214175  214175             0.0
214176  214176             0.0
214177  214177             0.0
214178  214178             0.0
214179  214179             0.0
214180  214180             0.0
214181  214181             0.0
214182  214182             0.0
214183  214183             0.0
214184  214184             0.0
214185  214185             0.0
214186  214186             0.0
214187  214187             0.0
214188  214188             0.0
214189  214189             0.0
214190  214190             0.0
214191  214191             0.0
214192  214192             0.0
214193  214193             0.0
214194  214194             0.0
214195  214195             0.0
214196  214196             0.0
214197  214197             0.0
214198  214198             0.0
214199  214199             0.0

[214200 rows x 2 columns]

In [23]:

importlib.reload(vl)