In [1]:
import lightgbm as lgb
import pandas as pd
import numpy as np
import validation_library as vl

In [2]:
train2 = pd.read_csv('../../gen_data/train2.csv')

In [3]:
vl.dropstrings(train2).head()

   date_block_num  shop_id  item_id  item_category_id  sales
0               0        0       32                40      6
1               0        0       33                37      3
2               0        0       35                40      1
3               0        0       43                40      1
4               0        0       51                57      2

In [4]:
train2 = vl.dropstrings(train2)
y_train = train2['sales']
x_train = train2.drop('sales',axis=1)

In [5]:
x_train.head()

   date_block_num  shop_id  item_id  item_category_id
0               0        0       32                40
1               0        0       33                37
2               0        0       35                40
3               0        0       43                40
4               0        0       51                57

In [6]:
y_train.head()

0    6
1    3
2    1
3    1
4    2
Name: sales, dtype: int64

In [13]:
model = lgb.LGBMRegressor(n_estimators=100)
model.fit(x_train,y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
       importance_type='split', learning_rate=0.1, max_depth=-1,
       min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
       n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
       random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
       subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [14]:
insample_error = vl.rmse(model.predict(x_train),y_train)
insample_error

2.229794654472152

In [ ]:
#outsample_error = vl.rmse(model.predict(x_train),y_test)
#outsample_error