In [1]:
import numpy as np
import pandas as pd

In [7]:
train2 = pd.read_csv('../../gen_data/train2.csv')
test0 = pd.read_csv('../../original_data/test.csv.gz')

In [5]:
train2.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,sales
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2

In [8]:
test0.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [6]:
#write a function that takes in 'raw' train and 'raw' test/validation and outputs 'rich' versions to be trained/predicted 
#on

#input: 
    #x_train_data: pandas.DataFrame, training data with 7 columns (maybe also item price?)
    #y_train_data: pandas.Series, training data true values
    #x_val_data: validation/test input data, expecting 3 columns, ID, shop_id , item_id 
            
def enrich(x_train_data,y_train_data,x_val_data):

SyntaxError: unexpected EOF while parsing (<ipython-input-6-5d7dfe3bc72f>, line 9)