In [1]:
import pickle
import pandas as pd
import numpy as np

In [3]:
train_feat1 = pickle.load(open('../gen_data/x_train--features1.ipynb--.pickle','rb'))
train_feat1_exp2 = pickle.load(open('../gen_data/x_train--features1.exp2.ipynb--.pickle','rb'))

test_feat1 = pickle.load(open('../gen_data/x_test--features1.ipynb--.pickle','rb'))
test_feat1_exp2 = pickle.load(open('../gen_data/x_test--features1.exp2.ipynb--.pickle','rb'))

In [4]:
train_feat1[1].equals(train_feat1_exp2)

True

In [6]:
test_feat1[1].equals(test_feat1_exp2)

True

In [7]:
train_feat1[0].date_block_num.max()

32

In [8]:
train_feat1[0].head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,...,item_cnt_month_back_9,sum_item_sales_back_10,sum_shop_sales_back_10,item_cnt_month_back_10,sum_item_sales_back_11,sum_shop_sales_back_11,item_cnt_month_back_11,sum_item_sales_back_12,sum_shop_sales_back_12,item_cnt_month_back_12
4488756,12,2,32,40.0,"Адыгея ТЦ ""Мега""",1+1,Кино - DVD,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4488757,12,2,33,37.0,"Адыгея ТЦ ""Мега""",1+1 (BD),Кино - Blu-Ray,42.0,1255.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,1146.0,1.0
4488758,12,2,99,37.0,"Адыгея ТЦ ""Мега""",1812: УЛАНСКАЯ БАЛЛАДА (BD),Кино - Blu-Ray,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4488759,12,2,482,73.0,"Адыгея ТЦ ""Мега""",1С:Бухгалтерия 8. Базовая версия,Программы - 1С:Предприятие 8,88.0,1255.0,1.0,...,1.0,128.0,751.0,1.0,95.0,489.0,1.0,118.0,1146.0,1.0
4488760,12,2,485,73.0,"Адыгея ТЦ ""Мега""",1С:Бухгалтерия 8. Учебная версия. Издание 7.,Программы - 1С:Предприятие 8,111.0,1255.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0