In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
x_train_list = pickle.load(open('../gen_data/x_train--features2.ipynb--.pickle','rb'))
x_test_list = pickle.load(open('../gen_data/x_test--features2.ipynb--.pickle','rb'))

sales = pd.read_csv('../original_data/sales_train.csv.gz')

# downcast here, (actually just import downcasted sales data)

### Generate time specific market price data

In [3]:
mean_price = sales.groupby(['date_block_num','item_id'],as_index=True).item_price.mean()
std_price = sales.groupby(['date_block_num','item_id'],as_index=True).item_price.std(ddof=1)
median_price = sales.groupby(['date_block_num','item_id'],as_index=True).item_price.median()

price_data = pd.concat([mean_price,std_price,median_price],axis=1)
price_data.columns = ['mean_prevmonth_item_price','std_prevmonth_item_price','median_prevmonth_item_price']
price_data.reset_index(inplace=True)
price_data['date_block_num'] += 1

### Generate shop-time price data

In [4]:
#not gonna worry about getting mean price by transaction, will 
#settle for mean price by row (which could incnlude many transactions)
shop_item_data = sales.groupby(['date_block_num','shop_id','item_id'],as_index=False).item_price.mean()
shop_item_data['date_block_num'] += 1
shop_item_data.columns = ['date_block_num','shop_id','item_id','mean_prevmonth_shop_item_price']
shop_item_data.head()

   date_block_num  shop_id  item_id  mean_prevmonth_shop_item_price
0               1        0       32                           221.0
1               1        0       33                           347.0
2               1        0       35                           247.0
3               1        0       43                           221.0
4               1        0       51                           128.5

In [5]:
def merge_price_data(df):
    return df.merge(price_data,how='left').merge(shop_item_data,how='left')

In [6]:
new_x_train_list = list(map(merge_price_data,x_train_list))
new_x_test_list = list(map(merge_price_data,x_test_list))

In [7]:
def insert_sd_above_market(df):
    df['std_above_market'] = (df.mean_prevmonth_shop_item_price - df.mean_prevmonth_item_price) / df.std_prevmonth_item_price
    return df

In [8]:
def cleanup(df):
    mean_sd = np.nanmean(df.std_prevmonth_item_price)
    df['std_prevmonth_item_price'] = df.std_prevmonth_item_price.fillna(mean_sd)
    df['std_above_market'] = df.std_above_market.fillna(0)
    return df

In [9]:
new_x_train_list = list(map(insert_sd_above_market,new_x_train_list))
new_x_test_list = list(map(insert_sd_above_market,new_x_test_list))

In [10]:
new_x_train_list = list(map(cleanup,new_x_train_list))
new_x_test_list = list(map(cleanup,new_x_test_list))

In [12]:
new_x_train_list[1]

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,item_cnt_month_back_12,sum_item_cat_sales_back_12,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,std_prevmonth_item_price,median_prevmonth_item_price,mean_prevmonth_shop_item_price,std_above_market
0,12,2,32,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,147.994444,8.253484,149.00,NaN,0.000000
1,12,2,33,37,42.0,1255.0,1.0,9906.0,55.0,15.0,...,1.0,5982.0,52.0,jan,31,195.900000,13.684729,199.00,199.000,0.226530
2,12,2,99,37,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,124.167083,25.367019,124.17,NaN,0.000000
3,12,2,482,73,88.0,1255.0,1.0,412.0,3.0,85.0,...,1.0,664.0,7.0,jan,31,3233.461538,237.704536,3300.00,3300.000,0.279921
4,12,2,485,73,111.0,1255.0,1.0,412.0,3.0,0.0,...,0.0,0.0,0.0,jan,31,298.222222,17.688666,300.00,300.000,0.100504
5,12,2,804,49,26.0,1255.0,1.0,842.0,7.0,0.0,...,1.0,915.0,8.0,jan,31,236.200000,19.000000,240.00,240.000,0.200000
6,12,2,839,73,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,664.0,7.0,jan,31,3250.256410,310.648618,3300.00,NaN,0.000000
7,12,2,1007,67,247.0,1255.0,1.0,3576.0,10.0,0.0,...,3.0,2202.0,28.0,jan,31,593.667277,32.302652,599.00,599.000,0.165086
8,12,2,1406,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,935.535514,159.340390,999.00,NaN,0.000000
9,12,2,1407,19,466.0,1255.0,13.0,14490.0,278.0,6.0,...,0.0,0.0,0.0,jan,31,1254.957967,142.609768,1299.00,1299.000,0.308829
10,12,2,1412,23,71.0,1255.0,1.0,9302.0,146.0,0.0,...,0.0,0.0,0.0,jan,31,1486.428571,69.985647,1499.00,1499.000,0.179629
11,12,2,1413,19,35.0,1255.0,1.0,14490.0,278.0,0.0,...,0.0,0.0,0.0,jan,31,1487.671429,66.933785,1499.00,1499.000,0.169250
12,12,2,1414,22,44.0,1255.0,1.0,1781.0,20.0,0.0,...,0.0,0.0,0.0,jan,31,1490.000000,59.699246,1499.00,1499.000,0.150756
13,12,2,1415,20,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,NaN,29.849621,NaN,NaN,0.000000
14,12,2,1416,23,59.0,1255.0,2.0,9302.0,146.0,0.0,...,0.0,0.0,0.0,jan,31,1491.389831,58.454821,1499.00,1499.000,0.130189
15,12,2,1439,32,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1000.000000,0.000000,1000.00,NaN,0.000000
16,12,2,1441,32,0.0,0.0,0.0,0.0,0.0,140.0,...,0.0,0.0,0.0,jan,31,500.000000,0.000000,500.00,NaN,0.000000
17,12,2,1449,30,116.0,1255.0,2.0,17906.0,152.0,0.0,...,0.0,0.0,0.0,jan,31,593.360096,32.793539,599.00,599.000,0.171982
18,12,2,1460,23,58.0,1255.0,1.0,9302.0,146.0,0.0,...,0.0,0.0,0.0,jan,31,1194.236111,34.972645,1199.00,1199.000,0.136218
19,12,2,1467,19,51.0,1255.0,3.0,14490.0,278.0,38.0,...,1.0,8832.0,114.0,jan,31,895.826923,22.881383,899.00,899.000,0.138675
20,12,2,1471,19,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,8832.0,114.0,jan,31,1396.774211,21.528571,1399.00,NaN,0.000000
21,12,2,1480,30,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,NaN,29.849621,NaN,NaN,0.000000
22,12,2,1495,30,818.0,1255.0,20.0,17906.0,152.0,607.0,...,0.0,0.0,0.0,jan,31,591.127958,37.389692,599.00,599.000,0.210540
23,12,2,1502,29,129.0,1255.0,1.0,703.0,6.0,570.0,...,0.0,0.0,0.0,jan,31,2537.236364,164.179748,2599.00,2599.000,0.376195
24,12,2,1511,28,701.0,1255.0,7.0,6985.0,38.0,745.0,...,0.0,0.0,0.0,jan,31,790.321631,40.675570,799.00,799.000,0.213356
25,12,2,1512,19,582.0,1255.0,9.0,14490.0,278.0,674.0,...,0.0,0.0,0.0,jan,31,2582.255882,80.878929,2599.00,2599.000,0.207027
26,12,2,1514,20,324.0,1255.0,7.0,3876.0,90.0,0.0,...,0.0,0.0,0.0,jan,31,2974.862903,102.575171,2999.00,2998.940,0.234726
27,12,2,1799,23,35.0,1255.0,1.0,9302.0,146.0,28.0,...,0.0,0.0,0.0,jan,31,1299.000000,0.000000,1299.00,1299.000,0.000000
28,12,2,1809,30,208.0,1255.0,3.0,17906.0,152.0,467.0,...,0.0,0.0,0.0,jan,31,588.635526,47.189717,599.00,599.000,0.219634
29,12,2,1811,19,205.0,1255.0,4.0,14490.0,278.0,256.0,...,0.0,0.0,0.0,jan,31,1776.152247,292.775740,1609.00,1609.075,-0.570666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425064,33,59,15453,63,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,599.000000,0.000000,599.00,NaN,0.000000
6425065,33,59,15472,63,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,549.000000,0.000000,549.00,NaN,0.000000
6425066,33,59,15563,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,399.000000,0.000000,399.00,NaN,0.000000
6425067,33,59,15874,67,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,1549.000000,0.000000,1549.00,NaN,0.000000
6425068,33,59,15925,72,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425069,33,59,16006,65,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,359.000000,0.000000,359.00,NaN,0.000000
6425070,33,59,16129,64,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,1365.666667,115.470054,1299.00,NaN,0.000000
6425071,33,59,16204,64,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425072,33,59,16231,64,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,1999.000000,29.849621,1999.00,NaN,0.000000
6425073,33,59,18278,57,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,286.000000,74.478185,329.00,NaN,0.000000
6425074,33,59,18335,57,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,329.000000,0.000000,329.00,NaN,0.000000
6425075,33,59,18939,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,149.00,NaN,0.000000
6425076,33,59,19370,62,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,248.000000,29.849621,248.00,NaN,0.000000
6425077,33,59,1450,28,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,1395.840000,29.849621,1395.84,NaN,0.000000
6425078,33,59,1882,23,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425079,33,59,4637,67,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,999.000000,0.000000,999.00,NaN,0.000000
6425080,33,59,7805,28,6.0,914.0,2.0,1593.0,58.0,0.0,...,0.0,0.0,0.0,oct,31,369.072000,124.746747,351.86,249.000,-0.962526
6425081,33,59,15334,63,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,87.050000,113.436275,0.99,NaN,0.000000
6425082,33,59,15344,63,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,47.900909,104.370184,0.99,NaN,0.000000
6425083,33,59,15705,37,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425084,33,59,16493,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,399.000000,0.000000,399.00,NaN,0.000000
6425085,33,59,16512,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425086,33,59,20263,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,169.000000,0.000000,169.00,NaN,0.000000
6425087,33,59,21885,37,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,99.000000,0.000000,99.00,NaN,0.000000
6425088,33,59,4394,19,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,1598.000000,0.000000,1598.00,NaN,0.000000
6425089,33,59,5662,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,398.000000,29.849621,398.00,NaN,0.000000
6425090,33,59,10068,37,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,NaN,29.849621,NaN,NaN,0.000000
6425091,33,59,12839,40,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,99.000000,0.000000,99.00,NaN,0.000000
6425092,33,59,18275,55,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,28.000000,0.000000,28.00,NaN,0.000000
6425093,33,59,20392,72,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,2199.000000,0.000000,2199.00,NaN,0.000000

### Save

In [11]:
pickle.dump(new_x_train_list,open('../gen_data/x_train--features3.ipynb--.pickle','wb'))
pickle.dump(new_x_test_list,open('../gen_data/x_test--features3.ipynb--.pickle','wb'))