In [1]:
import numpy as np
import pandas as pd
import pickle
from itertools import product

In [2]:
x_train_list = pickle.load(open('../gen_data/x_train--simple_validation_split.ipynb--.pickle','rb'))
y_train_list = pickle.load(open('../gen_data/y_train--simple_validation_split.ipynb--.pickle','rb'))
y_val_list = pickle.load(open('../gen_data/y_val--simple_validation_split.ipynb--.pickle','rb'))
x_val_list = pickle.load(open('../gen_data/test_data_enriched--enrich1.ipynb--.pickle','rb'))

In [3]:
#def features1(x_train,y_train,x_val,y_val):

In [4]:
x_train = x_train_list[1]
y_train = y_train_list[1]
y_val = y_val_list[1]
x_val = x_val_list[1]

In [5]:
#uncomment this to make it more like the coursera course script from outside/
#x_train = x_train[x_train.shop_id.isin([26,27,28])]

In [6]:
np.mean(y_train==0)

0.002173853599846873

In [7]:
x_train[x_train.date_block_num==31].item_id.nunique()
x_train.item_id.nunique()

21807

In [8]:
x_train.shape

(1609124, 7)

In [9]:
x_train.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3

In [10]:
#features1(x_train_list[0],y_train_list[0],x_val_list[0],y_val_list[0])

In [11]:
train = x_train.copy()
train['item_cnt_month'] = y_train.copy()

In [12]:
item_sales = train.groupby(['date_block_num','item_id'],as_index=False).item_cnt_month.sum()
item_sales.columns = ['date_block_num','item_id','sum_item_sales_back_0']
train = train.merge(item_sales,how='left')


#put this in x_val
#then use OOF or permutations to get data for x_train to avoid overfitting
    #maybe just do the basic stuff for x_train, worry about overfitting later

In [13]:

shop_sales = train.groupby(['date_block_num','shop_id'],as_index=False).item_cnt_month.sum()
shop_sales.columns = ['date_block_num','shop_id','sum_shop_sales_back_0']
train = train.merge(shop_sales,how='left')

In [14]:
train.shop_id.nunique()*train.item_id.nunique()*34

44486280

In [15]:
train.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month,sum_item_sales_back_0,sum_shop_sales_back_0
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6,242,5411
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3,61,5411
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1,78,5411
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1,2,5411
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2,13,5411

# Generate 0 Entries

Need to include entries where 0 sales were made for item/shop pairs in a month.
So this doesnt get out of hand, gonna focus only on all possible item/shop pairs based on sales in that month, 
this is what the coursera course did, see outside/Programming_assignment_week_4.ipynb for more info

In [16]:
train.shop_id.nunique()

60

In [17]:
#train

In [18]:
months = range(train.date_block_num.min(),train.date_block_num.max()+1)
#months =[0,1,2]
#df = pd.DataFrame(columns=['shop_id','item_id'])
to_pandas=[]
for month in months:
    print(month)
    
    subtrain = train[train.date_block_num==month].copy()
    all_shops = subtrain.shop_id.unique()
    all_items = subtrain.item_id.unique()
    
    #print('len(all_shops)='+str(len(all_shops)))
    #print('len(all_items)='+str(len(all_items)))
    
    interactions = product(all_shops,all_items)
    to_pandas.append([(month,x[0],x[1]) for x in interactions])
    
train_filled = pd.DataFrame(np.vstack(to_pandas),columns=['date_block_num','shop_id','item_id'])
train_filled['shop_id'] = train_filled.shop_id.astype(np.int32)
train_filled['item_id'] = train_filled.item_id.astype(np.int32)


    #do pandas first
    #c = list(product(all_shops,all_items))
    #month_data = pd.DataFrame(np.vstack(c),columns=['shop_id','item_id'],dtype=np.int32)
    #month_data['date_vlock_num']=month
    #df = df.append(month_data)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

# Compare with outside script

Careful when doing this, need to narrow down to shops 26 27 28 before finding all shop item pairs in a month, otherwise 26 27 28 hsops will be paired with items sold at *other* shops in that month

In [36]:
sum=0

#do shops 26 27 28 span all time?
for month in train[train.shop_id.isin([26,27,28])].date_block_num.unique():
    print(month)
    train_month = train[train.shop_id.isin([26,27,28])][train.date_block_num==month]
    sum += train_month.item_id.nunique() * train_month.shop_id.nunique()
print('number of rows should be '+str(sum))

0
1
2

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
number of rows should be 278619

In [20]:
train_filled.shape

(10913850, 3)

In [21]:
train_filled[train_filled.shop_id.isin([26,27,28])].shape

(691215, 3)

In [22]:
train_filled.head()

   date_block_num  shop_id  item_id
0               0        0       32
1               0        0       33
2               0        0       35
3               0        0       43
4               0        0       51

In [23]:
train.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month,sum_item_sales_back_0,sum_shop_sales_back_0
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6,242,5411
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3,61,5411
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1,78,5411
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1,2,5411
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2,13,5411

In [24]:
train_filled = train_filled.merge(train,how='left',on=['date_block_num','shop_id','item_id'])
#entries where item_cnt_month is supposed to be 0 are now created as NA
train_filled.fillna(0,inplace=True)

In [25]:
np.mean(train_filled.item_cnt_month.isna())

0.0

In [26]:
np.mean(train_filled.item_cnt_month==0)

0.8528817969827329

In [27]:
train_filled[train_filled.shop_id.isin([26,27,28])].shape

(691215, 10)

In [28]:
train_filled

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month,sum_item_sales_back_0,sum_shop_sales_back_0
0,0,0,32,40.0,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6.0,242.0,5411.0
1,0,0,33,37.0,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray,3.0,61.0,5411.0
2,0,0,35,40.0,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD,1.0,78.0,5411.0
3,0,0,43,40.0,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD,1.0,2.0,5411.0
4,0,0,51,57.0,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3,2.0,13.0,5411.0
5,0,0,61,43.0,"!Якутск Орджоникидзе, 56 фран",1000 и одна ночь 2CD (mp3-DVD) (DVD-Book),Книги - Аудиокниги,1.0,2.0,5411.0
6,0,0,75,40.0,"!Якутск Орджоникидзе, 56 фран",12 ДРУЗЕЙ ОУШЕНА WB (регион),Кино - DVD,1.0,8.0,5411.0
7,0,0,88,40.0,"!Якутск Орджоникидзе, 56 фран",13 ДРУЗЕЙ ОУШЕНА WB (регион),Кино - DVD,1.0,7.0,5411.0
8,0,0,95,40.0,"!Якутск Орджоникидзе, 56 фран",1812. ЭНЦИКЛОПЕДИЯ ВЕЛИКОЙ ВОЙНЫ,Кино - DVD,1.0,7.0,5411.0
9,0,0,96,40.0,"!Якутск Орджоникидзе, 56 фран",1812. ЭНЦИКЛОПЕДИЯ ВОЙНЫ (регион),Кино - DVD,1.0,9.0,5411.0
10,0,0,98,40.0,"!Якутск Орджоникидзе, 56 фран",1812: УЛАНСКАЯ БАЛЛАДА,Кино - DVD,20.0,296.0,5411.0
11,0,0,111,57.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудио. Музыка для оздоровления организма (J...,Музыка - MP3,1.0,4.0,5411.0
12,0,0,149,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Английский для детей. Слушай и ...,Книги - Аудиокниги 1С,3.0,12.0,5411.0
13,0,0,151,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Английский для малышей. Наглядн...,Книги - Аудиокниги 1С,1.0,4.0,5411.0
14,0,0,153,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Английский за 30 минут (Digipack),Книги - Аудиокниги 1С,1.0,12.0,5411.0
15,0,0,198,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Верн Ж. 20 000 лье под водой,Книги - Аудиокниги 1С,1.0,1.0,5411.0
16,0,0,210,45.0,"!Якутск Орджоникидзе, 56 фран","1С:Аудиокниги. Гилберт Э. Есть, молиться, люби...",Книги - Аудиокниги 1С,2.0,9.0,5411.0
17,0,0,282,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Лагин Л.И. Старик Хоттабыч (Jewel),Книги - Аудиокниги 1С,1.0,3.0,5411.0
18,0,0,306,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Лучшие зарубежные произведения ...,Книги - Аудиокниги 1С,1.0,6.0,5411.0
19,0,0,351,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиокниги. Пушкин А.С. Сказки и стихи,Книги - Аудиокниги 1С,1.0,4.0,5411.0
20,0,0,421,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиотеатр. Гоголь Н.В. Мертвые души (DVD-D...,Книги - Аудиокниги 1С,1.0,7.0,5411.0
21,0,0,438,45.0,"!Якутск Орджоникидзе, 56 фран",1С:Аудиотеатр. Лучшие произведения русских пис...,Книги - Аудиокниги 1С,1.0,5.0,5411.0
22,0,0,482,73.0,"!Якутск Орджоникидзе, 56 фран",1С:Бухгалтерия 8. Базовая версия,Программы - 1С:Предприятие 8,2.0,118.0,5411.0
23,0,0,484,73.0,"!Якутск Орджоникидзе, 56 фран",1С:Бухгалтерия 8. Учебная версия. Издание 6.,Программы - 1С:Предприятие 8,4.0,163.0,5411.0
24,0,0,491,73.0,"!Якутск Орджоникидзе, 56 фран",1С:Деньги 8,Программы - 1С:Предприятие 8,1.0,41.0,5411.0
25,0,0,498,49.0,"!Якутск Орджоникидзе, 56 фран",1С:Зарплата и Управление Персоналом 8. Первые ...,Книги - Методические материалы 1С,1.0,14.0,5411.0
26,0,0,556,77.0,"!Якутск Орджоникидзе, 56 фран",1С:Образовательная коллекция. Oxford Platinum ...,Программы - Обучающие,9.0,35.0,5411.0
27,0,0,642,77.0,"!Якутск Орджоникидзе, 56 фран",1С:Образовательная коллекция. Развивающие игры...,Программы - Обучающие,6.0,36.0,5411.0
28,0,0,651,77.0,"!Якутск Орджоникидзе, 56 фран",1С:Образовательная коллекция. Скоро в школу! У...,Программы - Обучающие,7.0,38.0,5411.0
29,0,0,657,77.0,"!Якутск Орджоникидзе, 56 фран",1С:Образовательная коллекция. Тренажер по русс...,Программы - Обучающие,2.0,38.0,5411.0
...,...,...,...,...,...,...,...,...,...,...
10913820,33,59,15453,0.0,0,0,0,0.0,0.0,0.0
10913821,33,59,15472,0.0,0,0,0,0.0,0.0,0.0
10913822,33,59,15563,0.0,0,0,0,0.0,0.0,0.0
10913823,33,59,15874,0.0,0,0,0,0.0,0.0,0.0
10913824,33,59,15925,0.0,0,0,0,0.0,0.0,0.0
10913825,33,59,16006,0.0,0,0,0,0.0,0.0,0.0
10913826,33,59,16129,0.0,0,0,0,0.0,0.0,0.0
10913827,33,59,16204,0.0,0,0,0,0.0,0.0,0.0
10913828,33,59,16231,0.0,0,0,0,0.0,0.0,0.0
10913829,33,59,18278,0.0,0,0,0,0.0,0.0,0.0
10913830,33,59,18335,0.0,0,0,0,0.0,0.0,0.0
10913831,33,59,18939,0.0,0,0,0,0.0,0.0,0.0
10913832,33,59,19370,0.0,0,0,0,0.0,0.0,0.0
10913833,33,59,1450,0.0,0,0,0,0.0,0.0,0.0
10913834,33,59,1882,0.0,0,0,0,0.0,0.0,0.0
10913835,33,59,4637,0.0,0,0,0,0.0,0.0,0.0
10913836,33,59,7805,0.0,0,0,0,0.0,0.0,0.0
10913837,33,59,15334,0.0,0,0,0,0.0,0.0,0.0
10913838,33,59,15344,0.0,0,0,0,0.0,0.0,0.0
10913839,33,59,15705,0.0,0,0,0,0.0,0.0,0.0
10913840,33,59,16493,0.0,0,0,0,0.0,0.0,0.0
10913841,33,59,16512,0.0,0,0,0,0.0,0.0,0.0
10913842,33,59,20263,0.0,0,0,0,0.0,0.0,0.0
10913843,33,59,21885,0.0,0,0,0,0.0,0.0,0.0
10913844,33,59,4394,19.0,"Ярославль ТЦ ""Альтаир""","LEGO Хоббит [PS3, русские субтитры]",Игры - PS3,1.0,1.0,789.0
10913845,33,59,5662,3.0,"Ярославль ТЦ ""Альтаир""",PS4: Зарядный кабель Venom двойной для двух ге...,Аксессуары - PS4,1.0,1.0,789.0
10913846,33,59,10068,37.0,"Ярославль ТЦ ""Альтаир""",ВРЕМЯ ВЕДЬМ (BD),Кино - Blu-Ray,1.0,1.0,789.0
10913847,33,59,12839,40.0,"Ярославль ТЦ ""Альтаир""",КОТЕНОК ПО ИМЕНИ ГАВ (м/ф) (Регион),Кино - DVD,1.0,1.0,789.0
10913848,33,59,18275,55.0,"Ярославль ТЦ ""Альтаир""",СБ. XXXL 31 Максимальный,Музыка - CD локального производства,1.0,1.0,789.0
10913849,33,59,20392,72.0,"Ярославль ТЦ ""Альтаир""","Фигурка Assassin's Creed Series 1 Connor 6""",Подарки - Фигурки,1.0,1.0,789.0

In [29]:
#a = [1,2]
#b = ['red','blue']
#list(product(*[a,b]))
#(*[a,b])

In [30]:
#print(len(all_items))
#print(len(all_shops)) 
#a = [x for x in product(*[all_shops,all_items,[month]])]
#b = list(product(*[all_shops,all_items]))
#c = list(product(all_shops,all_items))
#d = pd.DataFrame(np.vstack(c),columns=['shop_id','item_id'],dtype=np.int32)
#d['date_block_num']=month
#c

# Create Lag Values

In [31]:
#gonna iterively copy a subset of the data, rename the date block and aome other cols then merge it back in dateback_gen = range(1,13)
dateback_gen = range(1,2)
train_filled_copy = train_filled.copy()
lag_train_filled = train_filled.copy()
for dateback in dateback_gen: 
    #this line inneficient?
    to_shift = train_filled_copy[['date_block_num','shop_id','item_id','sum_item_sales_back_0','sum_shop_sales_back_0']].copy()
    to_shift.date_block_num += 1
    newcols = ['date_block_num','shop_id','item_id','sum_item_sales_back_'+str(dateback),'sum_shop_sales_back_'+str(dateback)]
    to_shift.columns = newcols
    #print(newcols)
    print(dateback)
    lag_train_filled = lag_train_filled.merge(to_shift,on=['date_block_num','shop_id','item_id'],how='left').fillna(0)
    del to_shift
del train_filled_copy

1

In [32]:
lag_train_filled[(lag_train_filled.shop_id==0) & (lag_train_filled.item_id==32)]

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month,sum_item_sales_back_0,sum_shop_sales_back_0,sum_item_sales_back_1,sum_shop_sales_back_1
0,0,0,32,40.0,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,6.0,242.0,5411.0,0.0,0.0
365177,1,0,32,40.0,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD,10.0,206.0,5820.0,242.0,5411.0

In [33]:
#compare to local copy of courserea course script in outside, should have 157950 rows
lag_train_filled[(lag_train_filled.date_block_num>=12) & (lag_train_filled.shop_id.isin([26,27,28]))].shape

(395832, 12)

In [40]:
lag_train_filled[lag_train_filled.date_block_num>=12].shape
#This should have 6425094 to mimmick the course script

(6425094, 12)

In [34]:
lag_train_filled[(lag_train_filled.shop_id == 28) & (lag_train_filled.item_id==10991)&(lag_train_filled.date_block_num==12)].sum_shop_sales_back_4

AttributeError: 'DataFrame' object has no attribute 'sum_shop_sales_back_4'

In [ ]:
test.shape

In [ ]:
merge

In [ ]:
to_shift.tail()

In [ ]:
train.tail()

In [ ]:
to_shift.head()

In [ ]:
a = train.merge(to_shift,on=['date_block_num','shop_id','item_id'],how='left')
a.tail()

In [ ]:
a[(a.date_block_num==32) & (a.shop_id==59) & (a.item_id==22087)]

In [ ]:
#verify code works correctly
#stitch_train[(stitch_train.date_block_num==0) &(stitch_train.item_id==32)].item_cnt_month.agg(sum)

### The following is a simple template example

In [ ]:
df = pd.DataFrame(data={'A':[1,2,3,2,3,3,2,1,2] , 'B':['red','blue','blue','blue','red','blue','red','red','red'] , 'C':[6,2,3,7,3,4,5,2,3]})
df

In [ ]:
gb = df.groupby(['A','B'],as_index=False).agg(sum)
gb.columns = ['A','B','agged']
gb

In [ ]:
merged = df.merge(gb,how='left')
merged