In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df = pd.read_csv('../gen_data/train2.csv')

y_train_list = pickle.load(open('../gen_data/y_train--features1.ipynb--.pickle','rb'))
x_train_list = pickle.load(open('../gen_data/x_train--features3.ipynb--.pickle','rb'))
x_test_list = pickle.load(open('../gen_data/x_test--features3.ipynb--.pickle','rb'))

In [25]:
for i in range(0,3):
    print(i)

0
1
2

In [181]:
def target_encode(x_train,y_train,x_test,cols,nperms):
    x_train['target'] = y_train

#for test data
    for col in cols:
        agged_sum = x_train.groupby(col).target.sum()
        x_test[col+'_encoded'] = x_test[col].map(agged_sum)
        x_test[col+'_encoded'].fillna(0,inplace=True)
            
#for train data, need to regularise
    for col in cols:
        print('Encoding '+col+':')
        encoding_df = pd.DataFrame()
        for perm_num in range(0,nperms):
            print('\tComputing encoding on permutation '+str(perm_num)+' of '+str(nperms))
            #set random state to perm num for reproducibility
            perm_x_train = x_train.sample(frac=1,random_state=perm_num)
            
            cumsum   = perm_x_train.groupby(col).target.cumsum() - perm_x_train.target
            cumcount = perm_x_train.groupby(col).target.cumcount()
            encoding = cumsum/cumcount
            
            #encoding_df = pd.concat([],axis=1)
            encoding_df['perm_'+str(perm_num)+'_encoding'] = encoding
            
        encoding_df['colmeans'] = encoding_df.mean(axis=1)    
        x_train[col+'_encoded'] = encoding_df.colmeans
        x_train[col+'_encoded'].fillna(0,inplace=True)

    return x_train.drop('target',axis=1) , x_test

In [150]:
x_train = x_train_list[0]
y_train = y_train_list[0]
x_test = x_test_list[0]

In [158]:
x_train_out , x_test_out,enc_df = target_encode(x_train,y_train,x_test,['item_id'],10)

Encoding item_id:
	Computing encoding on permutation 0 of 10
	Computing encoding on permutation 1 of 10
	Computing encoding on permutation 2 of 10
	Computing encoding on permutation 3 of 10
	Computing encoding on permutation 4 of 10
	Computing encoding on permutation 5 of 10
	Computing encoding on permutation 6 of 10
	Computing encoding on permutation 7 of 10
	Computing encoding on permutation 8 of 10
	Computing encoding on permutation 9 of 10

In [152]:
x_test_out.head()[['item_id','item_id_encoded']]

   item_id  item_id_encoded
0     5037           1244.0
1     5320              0.0
2     5233            465.0
3     5232            113.0
4     5268              0.0

In [173]:
x_train_out['target'] = y_train
a = x_train_out[['item_id','item_id_encoded','target']]
out_g = a.groupby('item_id').item_id_encoded.mean()
out_g.head(20)

item_id
0     0.014902
1     0.027294
2     0.011917
3     0.026355
4     0.019736
5     0.020576
6     0.017507
7     0.021025
8     0.026939
9     0.022318
10    0.015396
11    0.019282
13    0.019330
14    0.009379
15    0.021535
16    0.015005
17    0.023381
18    0.025180
20    0.011220
21    0.015649
Name: item_id_encoded, dtype: float32

# is mean really a good idea?

In [174]:
naive_g = a.groupby('item_id').target.mean()
naive_g.head(20)

item_id
0     0.020000
1     0.023810
2     0.019802
3     0.019802
4     0.020000
5     0.020000
6     0.020000
7     0.020000
8     0.019802
9     0.019608
10    0.020000
11    0.020000
13    0.020000
14    0.020000
15    0.020000
16    0.020000
17    0.020000
18    0.019608
20    0.019608
21    0.020000
Name: target, dtype: float32

In [177]:
naive_g.shape

(16561,)

In [179]:
np.corrcoef(naive_g,out_g)

array([[1.        , 0.99952922],
       [0.99952922, 1.        ]])

In [180]:
enc_df

,perm_0_encoding,perm_1_encoding,perm_2_encoding,perm_3_encoding,perm_4_encoding,perm_5_encoding,perm_6_encoding,perm_7_encoding,perm_8_encoding,perm_9_encoding,colmeans
1981796,NaN,0.195122,0.191736,0.162907,0.200000,0.158771,0.164062,0.165605,0.204188,0.150289,0.176965
2386002,NaN,0.024390,0.028351,0.033582,0.033079,0.031339,0.030233,0.045249,0.026923,0.033175,0.031813
1511809,NaN,0.152941,0.273743,0.244936,0.186851,0.232662,0.166667,0.238596,0.208333,0.235043,0.215530
1318036,NaN,0.160976,0.140000,0.148438,0.142384,0.135246,0.167123,0.208791,0.100000,0.101852,0.144979
3348638,NaN,0.047619,0.038674,0.048035,0.043011,0.065217,0.048387,0.045977,0.076923,0.056701,0.052283
2831915,NaN,0.814493,0.684539,0.750000,0.786982,0.716012,0.422535,0.638889,0.759184,0.723473,0.699567
1957489,NaN,0.054348,0.066667,0.051724,0.027027,0.039474,0.081081,0.057971,0.000000,0.050000,0.047588
4770989,NaN,0.039326,0.028796,0.032751,0.034483,0.033505,0.036797,0.000000,0.030405,0.043956,0.031113
4059022,NaN,0.206799,0.261194,0.257042,0.344444,0.242075,0.242347,0.304348,0.200000,0.375000,0.270361
5495464,NaN,0.191263,0.244604,0.200795,0.190174,0.193995,0.214022,0.206816,0.201248,0.205339,0.205362
3774927,NaN,1.518072,1.650000,1.379845,1.263423,1.116071,1.095057,1.239316,1.349138,1.736842,1.371974
4319826,NaN,0.835759,1.028302,0.944990,0.963918,0.933090,0.841328,0.961950,1.039179,0.934195,0.942524
5658488,NaN,0.427835,0.425676,0.443609,0.451923,0.403846,0.462121,0.396296,0.395425,0.438914,0.427294
3583085,NaN,0.116959,0.121842,0.103448,0.069767,0.105747,0.097179,0.108434,0.116402,0.098131,0.104212
1893555,NaN,0.000000,0.039216,0.028369,0.022222,0.033264,0.100000,0.034574,0.071429,0.032653,0.040192
2881131,NaN,0.235772,0.243590,0.259334,0.111111,0.223827,0.257946,0.261233,0.215054,0.270431,0.230922
2446972,NaN,0.000000,0.044369,0.051447,0.091954,0.051282,0.000000,0.000000,0.044872,0.037433,0.035706
295379,NaN,0.283465,0.268340,0.283582,0.283951,0.272881,0.135135,0.000000,0.289340,0.298651,0.235038
4733221,NaN,0.211454,0.245315,0.217822,0.218421,0.185185,0.240741,0.250000,0.231884,0.218487,0.224368
1582558,NaN,0.018182,0.200000,0.068627,0.076923,0.060870,0.000000,0.064516,0.125000,0.085106,0.077692
3684062,NaN,0.257895,0.204819,0.222973,0.242236,NaN,0.227723,0.230303,0.205556,0.083333,0.209355
4314445,NaN,0.497976,0.441948,0.472222,0.566372,0.498084,0.516216,0.475000,0.486989,0.495951,0.494529
5261654,NaN,0.341530,0.434426,0.364829,0.355429,0.349876,0.376559,0.393701,0.363512,0.363242,0.371456
1734545,NaN,0.219251,0.206573,0.211838,0.206349,0.175439,0.000000,0.166667,0.212766,0.208556,0.178604
3816428,NaN,0.222222,0.316062,0.243478,0.228916,0.259259,0.242754,0.250000,0.204461,0.255583,0.246971
1684222,NaN,0.000000,0.007463,0.000000,0.014925,0.028571,0.027778,0.000000,0.027397,0.021739,0.014208
2761289,NaN,0.161111,0.165919,0.215686,0.158730,0.140476,0.163482,0.163462,0.179775,0.170803,0.168827
5217675,NaN,0.168390,0.162264,0.159645,0.500000,0.142857,0.154286,0.147309,0.161689,0.158151,0.194955
1375555,NaN,0.047281,0.014085,0.000000,0.046053,0.049708,0.046512,0.062500,0.053254,0.052632,0.041336
1459454,NaN,0.640000,0.769231,0.890476,0.754412,0.756906,0.736364,0.899471,0.636364,0.778926,0.762461
...,...,...,...,...,...,...,...,...,...,...,...
1256532,0.500608,0.505960,0.409222,0.434783,0.481328,0.596774,0.440678,0.500640,0.540984,0.480292,0.489127
4644125,0.094567,0.099532,0.097382,0.092827,0.088445,0.111675,0.084746,0.090909,0.109467,0.084838,0.095439
1179801,0.042194,0.043478,0.026846,0.014493,0.037975,0.030769,0.054348,0.028846,0.051471,0.333333,0.066375
5589240,0.354767,0.355388,0.316514,0.329609,0.337349,0.386635,0.192308,0.000000,0.371429,0.338983,0.298298
4313244,1.638833,1.737968,1.524648,1.677704,1.674699,1.742092,1.562341,1.695481,1.619403,1.680180,1.655335
4900414,0.020833,0.000000,0.000000,0.035088,0.020833,0.071429,0.028571,0.045455,0.000000,0.000000,0.022221
1129426,0.185068,0.198804,0.179487,0.206186,0.191718,0.162304,0.190045,0.196970,0.217617,0.153285,0.188148
4833456,0.840125,0.900000,0.843636,0.782805,0.845794,0.808511,0.888889,0.806452,0.587719,0.954545,0.825848
239136,0.038328,0.020619,0.022222,0.035503,0.000000,0.027322,0.000000,0.029412,0.033333,0.042857,0.024960
445161,0.082111,0.000000,0.089767,0.108247,0.078652,0.093834,0.086331,0.069930,0.081301,0.094972,0.078514
2346314,0.044860,0.044693,0.048117,0.040650,0.034783,0.077670,0.037736,0.041975,0.033113,0.046316,0.044991
1619911,0.084138,0.000000,0.089005,0.072727,0.093750,0.087629,0.083453,0.108871,0.075000,0.054217,0.074879
5940244,0.146512,0.129730,0.139368,0.137255,0.088000,0.143894,0.139286,0.153646,0.138158,0.150087,0.136593
2543492,0.089485,0.157895,0.110778,0.091787,0.102941,0.096970,0.045455,0.107955,0.000000,0.078431,0.088170
639549,0.058680,0.000000,0.061697,0.065134,0.066667,0.058020,0.033113,0.053140,0.069652,0.127273,0.059337
2780907,0.073059,0.070000,0.064000,0.078370,0.133333,0.081699,0.074286,0.093220,0.087719,0.000000,0.075569
5821642,0.059719,0.052863,0.064917,0.060000,0.068259,0.081481,0.054054,0.062500,0.059719,0.062500,0.062601
2540057,0.650771,0.624294,0.637427,0.675127,0.632653,0.619454,0.606618,0.897059,0.362319,0.631879,0.633760
3258948,0.028517,0.038462,0.023810,0.021127,0.030769,0.027778,0.027990,0.024129,0.031315,0.020619,0.027451
34743,0.021429,0.000000,0.028571,0.022059,0.021583,0.023077,0.013889,0.028169,0.027027,0.045455,0.023126
2609091,0.045521,0.049065,0.050439,0.035623,0.000000,0.023810,0.037459,0.050000,0.053030,0.000000,0.034495
36203,0.022222,0.000000,0.000000,0.000000,0.040000,0.000000,0.028571,0.062500,0.076923,0.000000,0.023022
3486706,0.122628,0.000000,0.068783,0.196429,0.127768,0.124444,0.138614,0.124590,0.086957,0.090129,0.108034
3307382,0.194165,0.193841,0.177778,0.211165,0.196507,0.187368,0.164502,0.192000,0.177979,0.194030,0.188933
735849,0.337022,0.331420,0.360000,0.311983,0.337526,0.325671,0.339602,0.293878,0.350877,0.322581,0.331056
1851747,4.121951,4.866667,4.280342,4.076389,4.507389,4.058824,4.148618,4.192857,4.160819,4.284768,4.269862
3041764,0.330179,0.317164,0.358896,0.342569,0.329949,0.372131,0.316911,0.282609,0.341009,0.000000,0.299142
2034283,0.112676,0.122402,0.106707,0.107750,0.110899,0.089514,0.107527,0.159420,0.142857,0.134146,0.119390
2711556,0.073801,0.065263,0.070365,0.063545,0.058935,0.040404,0.073935,0.061129,0.073298,0.077551,0.065823
1387371,0.088269,0.089674,0.000000,0.071429,0.076087,0.101770,0.087146,0.081858,0.087719,0.094629,0.077858

In [155]:
enc_df

         perm_0_encoding  perm_1_encoding  colmeans
942565               NaN         0.083333  0.083333
4323518              NaN         0.042056  0.042056
2450948              NaN         0.319879  0.319879
200794               NaN         0.030303  0.030303
3037275              NaN         0.059259  0.059259
5697526              NaN         0.254032  0.254032
4426031              NaN         0.153226  0.153226
5022237              NaN         0.051136  0.051136
1317526              NaN         0.323099  0.323099
855577               NaN         0.139430  0.139430
1252614              NaN         0.047478  0.047478
3254756              NaN         0.049724  0.049724
5962857              NaN         0.026915  0.026915
2875727              NaN         0.199122  0.199122
6097185              NaN         0.281457  0.281457
3999072              NaN         0.224242  0.224242
2616920              NaN         1.625000  1.625000
4308183              NaN         0.567089  0.567089
2733240              NaN         0.923218  0.923218
5887534              NaN         0.189189  0.189189
6046153              NaN         0.307692  0.307692
5532457              NaN         0.304029  0.304029
3248865              NaN         1.276536  1.276536
3354461              NaN         0.125551  0.125551
3049316              NaN         0.040000  0.040000
6029442              NaN         2.067164  2.067164
5486847              NaN         0.135714  0.135714
1638871              NaN         0.308475  0.308475
1424593              NaN         3.175046  3.175046
1921221              NaN         0.155786  0.155786
...                  ...              ...       ...
1351395         0.433443         0.381890  0.407667
2341409         0.024390         0.028302  0.026346
4572771         0.099010         0.082540  0.090775
5179015         0.087671         0.056225  0.071948
1313396         0.086134         0.077851  0.081993
3776382         0.414487         0.411672  0.413079
3126494         0.052800         0.019608  0.036204
2125178         0.409457         0.500000  0.454728
2908847         0.043280         0.047619  0.045450
689390          0.132877         0.100457  0.116667
5818848         0.072464         0.072464  0.072464
435132          0.136698         0.126154  0.131426
5579091         0.195767         0.150735  0.173251
192653          0.308853         0.327561  0.318207
1239197         0.067010         0.057229  0.062120
2501146         0.021148         0.020202  0.020675
5447069         0.239748         0.234727  0.237237
360745          0.031746         0.000000  0.015873
5253175         0.772152         0.746398  0.759275
930517          0.034483         0.029412  0.031947
2708345         0.127063         0.113350  0.120206
1361947         0.024896         0.024510  0.024703
6097372         0.438119         0.321429  0.379774
5299708         0.083763         0.083026  0.083394
6102287         0.291372         0.230769  0.261071
717972          0.199120         0.225997  0.212558
4044424         0.481265         0.472542  0.476903
2809080         0.108368         0.096774  0.102571
4060525         0.076389         0.080000  0.078194
3788898         0.329457         0.324468  0.326963

[6186922 rows x 3 columns]

In [157]:
enc_df.sort_values('perm_1_encoding',ascending=False)

         perm_0_encoding  perm_1_encoding   colmeans
5891957         9.823810        20.000000  14.911905
1350279         1.713028        20.000000  10.856514
6156502        15.578947        20.000000  17.789474
6115791         6.500000        20.000000  13.250000
6095530        12.714286        20.000000  16.357143
5202276         1.125189        20.000000  10.562594
6131078        11.482759        20.000000  15.741379
5332635         6.400000        20.000000  13.200000
143599          6.085592        20.000000  13.042796
4507270        17.672728        20.000000  18.836365
4986217         2.032941        20.000000  11.016471
4849242         5.388889        20.000000  12.694445
6029728        17.874651        20.000000  18.937325
5851286        17.886179        20.000000  18.943089
4850962         0.826331        20.000000  10.413165
3287236        17.420168        20.000000  18.710083
2170857        17.618721        20.000000  18.809361
4200677         0.314286        20.000000  10.157143
2897256         5.553846        20.000000  12.776923
6085359        13.894737        20.000000  16.947369
6125991        11.785714        20.000000  15.892857
5876103         0.188366        20.000000  10.094183
1093257        17.564327        20.000000  18.782164
3066301         0.534535        20.000000  10.267267
5820443         7.474026        20.000000  13.737013
6059887        16.600000        19.600000  18.100000
6003952        16.296297        19.500000  17.898148
6151417         0.000000        19.333334   9.666667
6075143        10.000000        19.333334  14.666667
2703110        17.508152        19.136364  18.322258
...                  ...              ...        ...
2543828         0.020000              NaN   0.020000
2696332         0.030000              NaN   0.030000
2678270         0.020408              NaN   0.020408
113127          0.022222              NaN   0.022222
2985034         0.196078              NaN   0.196078
1218897         0.028143              NaN   0.028143
4024668         0.020833              NaN   0.020833
339455          0.022222              NaN   0.022222
5661499         0.053793              NaN   0.053793
4675368         0.073983              NaN   0.073983
2368902         0.545090              NaN   0.545090
5336138         0.065421              NaN   0.065421
4790550         0.022222              NaN   0.022222
5771968         0.073171              NaN   0.073171
3770654         0.170068              NaN   0.170068
1937342         0.020979              NaN   0.020979
614869          0.082596              NaN   0.082596
4616109         0.607500              NaN   0.607500
5502116         0.292952              NaN   0.292952
5660488         0.120521              NaN   0.120521
93557           0.035714              NaN   0.035714
2901456         0.020243              NaN   0.020243
2876017         0.228370              NaN   0.228370
2280466         0.207254              NaN   0.207254
5460398         0.279743              NaN   0.279743
1301071         0.095573              NaN   0.095573
3431710         0.183168              NaN   0.183168
156151          0.021505              NaN   0.021505
5425330         0.039370              NaN   0.039370
4463775         0.102041              NaN   0.102041

[6186922 rows x 3 columns]

# start exp

In [126]:
df = pd.DataFrame({'A':[4,7,6,5,4,4],'B':['red','blue','red','blue','blue','red'],'C':[65,56,76,87,34,33]})
df

   A     B   C
0  4   red  65
1  7  blue  56
2  6   red  76
3  5  blue  87
4  4  blue  34
5  4   red  33

In [127]:
cumsum = df.groupby('B').C.cumsum() - df.C
cumsum

0      0
1      0
2     65
3     56
4    143
5    141
Name: C, dtype: int64

In [128]:
cumcount = df.groupby('B').C.cumcount()
cumcount

0    0
1    0
2    1
3    1
4    2
5    2
dtype: int64

In [129]:
df_encoding = cumsum / cumcount
df['newcol'] = df_encoding
df

   A     B   C  newcol
0  4   red  65     NaN
1  7  blue  56     NaN
2  6   red  76    65.0
3  5  blue  87    56.0
4  4  blue  34    71.5
5  4   red  33    70.5

In [130]:
df_new = df.sample(frac=1)
df_new

   A     B   C  newcol
3  5  blue  87    56.0
5  4   red  33    70.5
4  4  blue  34    71.5
1  7  blue  56     NaN
0  4   red  65     NaN
2  6   red  76    65.0

In [131]:
cumsum = df_new.groupby('B').C.cumsum() - df.C
cumsum

0     33
1    121
2     98
3      0
4     87
5      0
Name: C, dtype: int64

In [132]:
cumcount = df_new.groupby('B').C.cumcount()
cumcount

3    0
5    0
4    1
1    2
0    1
2    2
dtype: int64

In [133]:
df_new_encoding = cumsum / cumcount
df_new['newcol'] = df_new_encoding
df_new.sort_index()

   A     B   C  newcol
0  4   red  65    33.0
1  7  blue  56    60.5
2  6   red  76    49.0
3  5  blue  87     NaN
4  4  blue  34    87.0
5  4   red  33     NaN

In [134]:
df

   A     B   C  newcol
0  4   red  65     NaN
1  7  blue  56     NaN
2  6   red  76    65.0
3  5  blue  87    56.0
4  4  blue  34    71.5
5  4   red  33    70.5

In [135]:
encoding_df = pd.concat([df_new_encoding,df_encoding],axis=1)

encoding_df['colmeans'] = encoding_df.mean(axis=1)
encoding_df

      0     1  colmeans
0  33.0   NaN     33.00
1  60.5   NaN     60.50
2  49.0  65.0     57.00
3   NaN  56.0     56.00
4  87.0  71.5     79.25
5   NaN  70.5     70.50

In [ ]:
df = df.drop('newcol',axis=1)

In [136]:
df['mean_encoding'] = encoding_df.colmeans
df

   A     B   C  mean_encoding
0  4   red  65          33.00
1  7  blue  56          60.50
2  6   red  76          57.00
3  5  blue  87          56.00
4  4  blue  34          79.25
5  4   red  33          70.50

In [138]:
print(np.mean([65,76,33]))
print(np.mean([33,57,70.5]))

58.0
53.5

In [139]:
pd.concat(df.drop('mean_encoding',axis=1),df.mean_encoding)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

# end exp

In [6]:
x_train_small = x_train[x_train.item_id.isin([31,32])]
x_train_small[['item_id','target']]

KeyError: "['target'] not in index"

In [40]:
cumsum = x_train_small.groupby('item_id').target.cumsum() - x_train_small.target
cumcount = x_train_small.groupby('item_id').target.cumcount()
encoding = cumsum/cumcount

x_train_small['cumsum'] = cumsum
x_train_small['cumcount'] = cumcount
x_train_small['item_id_encoding'] = encoding
x_train_small[['item_id','target','cumsum','cumcount','item_id_encoding']]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

         item_id  target  cumsum  cumcount  item_id_encoding
0             32     1.0     0.0         0               NaN
896           31     0.0     0.0         0               NaN
7551          32     0.0     1.0         1          1.000000
8447          31     0.0     0.0         1          0.000000
15102         32     0.0     1.0         2          0.500000
15998         31     1.0     0.0         2          0.000000
22653         32     3.0     1.0         3          0.333333
23549         31     1.0     1.0         3          0.333333
30204         32     2.0     4.0         4          1.000000
31100         31     1.0     2.0         4          0.500000
37755         32     3.0     6.0         5          1.200000
38651         31     0.0     3.0         5          0.600000
45306         32     1.0     9.0         6          1.500000
46202         31     0.0     3.0         6          0.500000
52857         32     0.0    10.0         7          1.428571
53753         31     0.0     3.0         7          0.428571
60408         32     1.0    10.0         8          1.250000
61304         31     0.0     3.0         8          0.375000
67959         32     0.0    11.0         9          1.222222
68855         31     0.0     3.0         9          0.333333
75510         32     2.0    11.0        10          1.100000
76406         31     0.0     3.0        10          0.300000
83061         32     2.0    13.0        11          1.181818
83957         31     1.0     3.0        11          0.272727
90612         32     2.0    15.0        12          1.250000
91508         31     0.0     4.0        12          0.333333
98163         32     0.0    17.0        13          1.307692
99059         31     0.0     4.0        13          0.307692
105714        32     2.0    17.0        14          1.214286
106610        31     0.0     4.0        14          0.285714
...          ...     ...     ...       ...               ...
6111856       31     0.0   323.0       980          0.329592
6111857       32     0.0   691.0       980          0.705102
6116941       31     0.0   323.0       981          0.329256
6116942       32     0.0   691.0       981          0.704383
6122026       31     0.0   323.0       982          0.328921
6122027       32     1.0   691.0       982          0.703666
6127111       31     0.0   323.0       983          0.328586
6127112       32     0.0   692.0       983          0.703967
6132196       31     1.0   323.0       984          0.328252
6132197       32     0.0   692.0       984          0.703252
6137281       31     0.0   324.0       985          0.328934
6137282       32     0.0   692.0       985          0.702538
6142366       31     0.0   324.0       986          0.328600
6142367       32     1.0   692.0       986          0.701826
6147451       31     0.0   324.0       987          0.328267
6147452       32     0.0   693.0       987          0.702128
6152536       31     0.0   324.0       988          0.327935
6152537       32     2.0   693.0       988          0.701417
6157621       31     0.0   324.0       989          0.327604
6157622       32     1.0   695.0       989          0.702730
6162706       31     0.0   324.0       990          0.327273
6162707       32     0.0   696.0       990          0.703030
6167791       31     0.0   324.0       991          0.326942
6167792       32     0.0   696.0       991          0.702321
6172876       31     0.0   324.0       992          0.326613
6172877       32     0.0   696.0       992          0.701613
6177961       31     0.0   324.0       993          0.326284
6177962       32     1.0   696.0       993          0.700906
6183046       31     0.0   324.0       994          0.325956
6183047       32     0.0   697.0       994          0.701207

[1990 rows x 5 columns]

In [24]:
x_train.head()

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,item_cnt_month_back_12,sum_item_cat_sales_back_12,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,target
0,12,2,32,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,134.691573,15.602202,NaN,0.000000,1.0
1,12,2,33,37.0,42.0,1255.0,1.0,9906.0,55.0,15.0,...,1.0,5982.0,52.0,jan,31,186.571429,16.449056,199.0,0.755580,1.0
2,12,2,99,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,124.167083,25.367019,NaN,0.000000,1.0
3,12,2,482,73.0,88.0,1255.0,1.0,412.0,3.0,85.0,...,1.0,664.0,7.0,jan,31,2866.022727,435.543311,3300.0,0.996404,2.0
4,12,2,485,73.0,111.0,1255.0,1.0,412.0,3.0,0.0,...,0.0,0.0,0.0,jan,31,250.203390,51.145216,300.0,0.973632,1.0

In [19]:
x_train_out , x_test_out = target_encode(x_train,y_train,x_test,['item_id'])
x_test_out.sort_values(['item_id']).head(100)

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_cat_shop_sales_back_1,sum_item_sales_back_2,...,item_cnt_month_back_12,sum_item_cat_sales_back_12,sum_item_cat_shop_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,item_id_encoded
130087,33,47,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
33187,33,10,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
22987,33,2,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
160687,33,56,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
28087,33,7,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
17887,33,3,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
7687,33,4,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
38287,33,12,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
114787,33,49,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
181087,33,38,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
109687,33,50,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
165787,33,36,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
43387,33,28,30,40.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
124987,33,52,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
63787,33,22,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
94387,33,14,30,40.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
170887,33,37,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
175987,33,35,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
186187,33,34,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
145387,33,58,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
201487,33,44,30,40.0,0.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
135187,33,48,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
150487,33,59,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
206587,33,39,30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
89287,33,18,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
140287,33,57,30,40.0,0.0,0.0,0.0,0.0,0.0,6.0,...,1.0,13334.0,1039.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
211687,33,45,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
119887,33,53,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
58687,33,25,30,40.0,3.0,4639.0,1.0,6766.0,627.0,0.0,...,3.0,13334.0,824.0,oct,31,119.000000,17.320508,129.0,0.577350,300.0
99487,33,19,30,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,13334.0,222.0,oct,31,119.000000,17.320508,NaN,0.000000,300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189294,33,46,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
46494,33,31,31,37.0,9.0,5217.0,1.0,2961.0,261.0,53.0,...,1.0,5036.0,472.0,oct,31,194.666667,13.000000,199.0,0.333333,324.0
128094,33,47,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
594,33,5,31,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,5036.0,45.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
97494,33,19,31,37.0,9.0,1191.0,1.0,2961.0,53.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,199.0,0.333333,324.0
107694,33,50,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
179094,33,38,31,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
82194,33,16,31,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
15894,33,3,31,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
138294,33,57,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
153594,33,55,31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
36294,33,12,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
148494,33,59,31,37.0,0.0,0.0,0.0,0.0,0.0,53.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
209694,33,45,31,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,194.666667,13.000000,NaN,0.000000,324.0
189295,33,46,32,40.0,19.0,1242.0,1.0,6766.0,141.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
71995,33,21,32,40.0,19.0,1727.0,1.0,6766.0,181.0,0.0,...,1.0,13334.0,316.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
51595,33,26,32,40.0,19.0,1212.0,2.0,6766.0,120.0,30.0,...,1.0,13334.0,279.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
10795,33,6,32,40.0,19.0,1602.0,2.0,6766.0,198.0,0.0,...,4.0,13334.0,296.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
163795,33,36,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
158695,33,56,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
133195,33,48,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
173995,33,35,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,1.0,13334.0,176.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
122995,33,52,32,40.0,19.0,1057.0,2.0,6766.0,128.0,0.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
209695,33,45,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,1.0,13334.0,95.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
77095,33,15,32,40.0,19.0,1194.0,1.0,6766.0,98.0,0.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
82195,33,16,32,40.0,19.0,936.0,1.0,6766.0,96.0,30.0,...,1.0,13334.0,205.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0
31195,33,10,32,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
41395,33,28,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
128095,33,47,32,40.0,0.0,0.0,0.0,0.0,0.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,NaN,0.000000,697.0
56695,33,25,32,40.0,19.0,4639.0,2.0,6766.0,627.0,30.0,...,0.0,0.0,0.0,oct,31,149.000000,0.000000,149.0,0.000000,697.0

In [18]:
x_train['target'] = y_train
x_train.groupby('item_id').target.sum()

item_id
0          1.0
1          6.0
2          2.0
3          2.0
4          1.0
5          1.0
6          1.0
7          1.0
8          2.0
9          1.0
10         1.0
11         1.0
13         1.0
14         1.0
15         1.0
16         1.0
17         1.0
18         1.0
20         1.0
21         1.0
22         1.0
23         1.0
24         1.0
25         1.0
26         1.0
27         6.0
28         1.0
29         1.0
30       300.0
31       324.0
         ...
22132      5.0
22133     30.0
22134      1.0
22135     21.0
22136      6.0
22139    188.0
22140    228.0
22141     53.0
22142     10.0
22143    732.0
22144    116.0
22145    306.0
22146     27.0
22147      4.0
22149      2.0
22150     14.0
22152      3.0
22153      9.0
22154     18.0
22155     16.0
22156      1.0
22159     15.0
22160      1.0
22162    645.0
22163     49.0
22164    462.0
22165      1.0
22166    248.0
22167    900.0
22169      1.0
Name: target, Length: 16561, dtype: float32

In [2]:
def target_encode(df,target,cols,fillna=''):
    df['target'] = target
    for col in cols:
        print('Encoding variable: '+col)
        agged_targ = df.groupby(col).target.sum()
        df[col] = df[col].map(agged_targ)
        if fillna=='mean':
            df[col].fillna(df(col).mean(),inplace=True)
        elif fillna=='median':
            df[col].fillna(df(col).median(),inplace=True)
    return df.drop('target',axis=1)