In [29]:
import pickle
import pandas as pd
import numpy as np

In [30]:
train_list = pickle.load(open('../gen_data/x_train--features3.ipynb--.pickle','rb'))
test_list = pickle.load(open('../gen_data/x_test--features3.ipynb--.pickle','rb'))

In [36]:
y_train_list = pickle.load(open('../gen_data/y_train--features1.ipynb--.pickle','rb'))

In [32]:
price_data = pd.read_csv('../gen_data/price_data_for_features3.csv')

In [33]:
#y_train_list_0_reset = y_train_list[0].reset_index().drop('index',axis=1).item_cnt_month

In [37]:
#train_list[0]['item_cnt_month'] = y_train_list_0_reset
train_list[0]['item_cnt_month'] = y_train_list[0]

In [38]:
train_list[0].head()

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_sales_back_2,sum_shop_sales_back_2,...,sum_shop_sales_back_12,item_cnt_month_back_12,sum_item_cat_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,item_cnt_month
0,12,2,32,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,134.691573,15.602202,NaN,0.000000,1.0
1,12,2,33,37.0,42.0,1255.0,1.0,9906.0,15.0,814.0,...,1146.0,1.0,5982.0,jan,31,186.571429,16.449056,199.0,0.755580,1.0
2,12,2,99,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,124.167083,25.367019,NaN,0.000000,1.0
3,12,2,482,73.0,88.0,1255.0,1.0,412.0,85.0,814.0,...,1146.0,1.0,664.0,jan,31,2866.022727,435.543311,3300.0,0.996404,2.0
4,12,2,485,73.0,111.0,1255.0,1.0,412.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,250.203390,51.145216,300.0,0.973632,1.0

In [39]:

train_list[0][(train_list[0].date_block_num==32) & (train_list[0].item_id==21756)].item_cnt_month

5971878    0.0
5976963    0.0
5982048    0.0
5987133    0.0
5992218    0.0
5997303    0.0
6002388    0.0
6007473    0.0
6012558    0.0
6017643    0.0
6022728    0.0
6027813    0.0
6032898    0.0
6037983    0.0
6043068    0.0
6048153    0.0
6053238    0.0
6058323    0.0
6063408    0.0
6068493    0.0
6073578    0.0
6078663    0.0
6083748    0.0
6088833    0.0
6093918    0.0
6099003    0.0
6104088    0.0
6109173    0.0
6114258    0.0
6119343    0.0
6124428    0.0
6129513    0.0
6134598    0.0
6139683    0.0
6144768    0.0
6149853    0.0
6154938    0.0
6160023    0.0
6165108    0.0
6170193    0.0
6175278    0.0
6180363    0.0
6185448    0.0
Name: item_cnt_month, dtype: float32

In [40]:
price_data.tail(30)

,date_block_num,item_id,mean_prevmonth_item_price,sd_prevmonth_item_price
228469,33.0,18758.0,749.0,NaN
228470,33.0,18778.0,299.0,NaN
228471,33.0,18779.0,299.0,NaN
228472,33.0,18793.0,49.0,NaN
228473,33.0,18832.0,49.0,NaN
228474,33.0,18906.0,28.0,NaN
228475,33.0,19978.0,3199.0,NaN
228476,33.0,19981.0,549.0,NaN
228477,33.0,19473.0,249.0,0.0
228478,33.0,19178.0,299.0,NaN
228479,33.0,19189.0,98.0,NaN
228480,33.0,19247.0,28.0,0.0
228481,33.0,20817.0,479.0,NaN
228482,33.0,21680.0,99.0,NaN
228483,33.0,21714.0,399.0,NaN
228484,33.0,21756.0,NaN,NaN
228485,33.0,21937.0,1549.0,NaN
228486,33.0,21380.0,549.0,NaN
228487,33.0,21428.0,698.0,0.0
228488,33.0,21523.0,499.0,NaN
228489,33.0,21848.0,249.0,NaN
228490,33.0,20917.0,1719.0,NaN
228491,33.0,21120.0,1799.0,0.0
228492,33.0,21135.0,1299.0,NaN
228493,33.0,21137.0,1799.0,0.0
228494,33.0,21279.0,1249.0,NaN
228495,33.0,21283.0,1249.0,NaN
228496,33.0,21352.0,199.0,NaN
228497,33.0,21284.0,1249.0,NaN
228498,33.0,21105.0,1799.0,NaN

In [41]:
train_list[0]

,date_block_num,shop_id,item_id,item_category_id,sum_item_sales_back_1,sum_shop_sales_back_1,item_cnt_month_back_1,sum_item_cat_sales_back_1,sum_item_sales_back_2,sum_shop_sales_back_2,...,sum_shop_sales_back_12,item_cnt_month_back_12,sum_item_cat_sales_back_12,month,numdays,mean_prevmonth_item_price,sd_prevmonth_item_price,mean_prevmonth_shop_item_price,sd_above_market,item_cnt_month
0,12,2,32,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,134.691573,15.602202,NaN,0.000000,1.0
1,12,2,33,37.0,42.0,1255.0,1.0,9906.0,15.0,814.0,...,1146.0,1.0,5982.0,jan,31,186.571429,16.449056,199.000,0.755580,1.0
2,12,2,99,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,124.167083,25.367019,NaN,0.000000,1.0
3,12,2,482,73.0,88.0,1255.0,1.0,412.0,85.0,814.0,...,1146.0,1.0,664.0,jan,31,2866.022727,435.543311,3300.000,0.996404,2.0
4,12,2,485,73.0,111.0,1255.0,1.0,412.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,250.203390,51.145216,300.000,0.973632,1.0
5,12,2,804,49.0,26.0,1255.0,1.0,842.0,0.0,0.0,...,1146.0,1.0,915.0,jan,31,227.115385,20.874165,240.000,0.617252,1.0
6,12,2,839,73.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1146.0,1.0,664.0,jan,31,3091.707317,344.029210,NaN,0.000000,1.0
7,12,2,1007,67.0,247.0,1255.0,1.0,3576.0,0.0,0.0,...,1146.0,3.0,2202.0,jan,31,441.207977,155.515705,599.000,1.014637,1.0
8,12,2,1406,28.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,758.350758,235.080954,NaN,0.000000,1.0
9,12,2,1407,19.0,466.0,1255.0,13.0,14490.0,6.0,814.0,...,0.0,0.0,0.0,jan,31,734.125609,542.392120,1299.000,1.041450,0.0
10,12,2,1412,23.0,71.0,1255.0,1.0,9302.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1318.943662,182.454025,1499.000,0.986859,1.0
11,12,2,1413,19.0,35.0,1255.0,1.0,14490.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1487.671429,66.933785,1499.000,0.169250,2.0
12,12,2,1414,22.0,44.0,1255.0,1.0,1781.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1490.000000,59.699246,1499.000,0.150756,1.0
13,12,2,1415,20.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,NaN,60.192602,NaN,0.000000,1.0
14,12,2,1416,23.0,59.0,1255.0,2.0,9302.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1491.389831,58.454821,1499.000,0.130189,2.0
15,12,2,1439,32.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,776.119403,224.720677,NaN,0.000000,1.0
16,12,2,1441,32.0,0.0,0.0,0.0,0.0,140.0,814.0,...,0.0,0.0,0.0,jan,31,386.100386,114.120136,NaN,0.000000,1.0
17,12,2,1449,30.0,116.0,1255.0,2.0,17906.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,531.978017,70.301908,599.000,0.953345,1.0
18,12,2,1460,23.0,58.0,1255.0,1.0,9302.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,1111.875000,89.975061,1199.000,0.968324,1.0
19,12,2,1467,19.0,51.0,1255.0,3.0,14490.0,38.0,814.0,...,1146.0,1.0,8832.0,jan,31,913.392157,29.167878,899.000,-0.493425,1.0
20,12,2,1471,19.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1146.0,2.0,8832.0,jan,31,1340.338889,60.600851,NaN,0.000000,2.0
21,12,2,1480,30.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,NaN,60.192602,NaN,0.000000,7.0
22,12,2,1495,30.0,818.0,1255.0,20.0,17906.0,607.0,814.0,...,0.0,0.0,0.0,jan,31,331.335716,263.221011,599.000,1.016880,9.0
23,12,2,1502,29.0,129.0,1255.0,1.0,703.0,570.0,814.0,...,0.0,0.0,0.0,jan,31,2037.197080,526.449822,2599.000,1.067154,1.0
24,12,2,1511,28.0,701.0,1255.0,7.0,6985.0,745.0,814.0,...,0.0,0.0,0.0,jan,31,467.427579,326.112510,799.000,1.016742,1.0
25,12,2,1512,19.0,582.0,1255.0,9.0,14490.0,674.0,814.0,...,0.0,0.0,0.0,jan,31,1647.659249,940.222703,2599.000,1.011825,3.0
26,12,2,1514,20.0,324.0,1255.0,7.0,3876.0,0.0,0.0,...,0.0,0.0,0.0,jan,31,2249.286585,735.737845,2998.940,1.018914,1.0
27,12,2,1799,23.0,35.0,1255.0,1.0,9302.0,28.0,814.0,...,0.0,0.0,0.0,jan,31,1187.657143,112.968386,1299.000,0.985611,2.0
28,12,2,1809,30.0,208.0,1255.0,3.0,17906.0,467.0,814.0,...,0.0,0.0,0.0,jan,31,537.695913,69.732203,599.000,0.879136,1.0
29,12,2,1811,19.0,205.0,1255.0,4.0,14490.0,256.0,814.0,...,0.0,0.0,0.0,jan,31,1542.220000,362.037023,1609.075,0.184663,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6186892,32,59,14430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,141.000000,48.497423,NaN,0.000000,0.0
6186893,32,59,15971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,249.000000,0.000000,NaN,0.000000,0.0
6186894,32,59,16055,64.0,31.0,1116.0,1.0,1114.0,26.0,983.0,...,1067.0,2.0,920.0,sep,30,483.064516,117.851903,599.000,0.983739,1.0
6186895,32,59,16084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,449.000000,0.000000,NaN,0.000000,0.0
6186896,32,59,16179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,1985.580000,385.204319,NaN,0.000000,0.0
6186897,32,59,16243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,2499.000000,0.000000,NaN,0.000000,0.0
6186898,32,59,16540,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,198.000000,0.000000,NaN,0.000000,0.0
6186899,32,59,18715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,239.000000,22.360680,NaN,0.000000,0.0
6186900,32,59,19501,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,799.000000,60.192602,NaN,0.000000,0.0
6186901,32,59,19745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,299.000000,0.000000,NaN,0.000000,0.0
6186902,32,59,19789,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,199.000000,60.192602,NaN,0.000000,0.0
6186903,32,59,19885,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,299.000000,60.192602,NaN,0.000000,0.0
6186904,32,59,20070,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,58.000000,60.192602,NaN,0.000000,0.0
6186905,32,59,6400,23.0,4.0,1116.0,1.0,3642.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,999.000000,0.000000,999.000,0.000000,1.0
6186906,32,59,9150,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,0.0
6186907,32,59,9496,40.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,99.000000,0.000000,NaN,0.000000,1.0
6186908,32,59,9949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,198.310000,71.686485,NaN,0.000000,0.0
6186909,32,59,13379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,0.0
6186910,32,59,13521,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1067.0,1.0,4411.0,sep,30,NaN,60.192602,NaN,0.000000,0.0
6186911,32,59,15443,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,0.0
6186912,32,59,16729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,79.000000,60.192602,NaN,0.000000,0.0
6186913,32,59,18024,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,261.625000,39.955556,NaN,0.000000,0.0
6186914,32,59,20267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,0.0
6186915,32,59,4608,58.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,1.0
6186916,32,59,4779,30.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1067.0,1.0,9536.0,sep,30,NaN,60.192602,NaN,0.000000,1.0
6186917,32,59,10656,67.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,1.0
6186918,32,59,14899,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,349.000000,0.000000,NaN,0.000000,1.0
6186919,32,59,18577,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1067.0,1.0,4975.0,sep,30,NaN,60.192602,NaN,0.000000,1.0
6186920,32,59,21459,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,1.0
6186921,32,59,22043,37.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,sep,30,NaN,60.192602,NaN,0.000000,1.0