In [5]:
import pandas as pd
import numpy as np 
import pickle
import xgboost as xgb
import time
import graphviz
import matplotlib as plt
import re
from sklearn.decomposition import NMF

In [3]:
pik = pickle.load(open('saved_datasets/19-3-19,pipeline_A_reduced_frommaster,dateback=18/xtrain_xtest_ytrain_ytest.pickle','rb'))

In [4]:
x_train , x_test , y_train , y_test  = pik

# NMF

In [7]:
def downcast_more(df):
    float_cols = [col for col in df if (df[col].dtype=='float64' or df[col].dtype=='float32')]
    int_cols = [col for col in df if (df[col].dtype=='int64' or df[col].dtype=='int32')]
    df[float_cols] = df[float_cols].astype(np.float16)
    df[int_cols] = df[int_cols].astype(np.int16)
    return(df)

In [9]:
    xtrain = x_train[0]
    xtest = x_test[0]
    ndim=10

In [10]:
    xtrain_reduced = xtrain.filter(regex='_\d+$')
    xtest_reduced = xtest.filter(regex='_\d+$')

In [11]:
    
    reduced_cols = xtrain_reduced.columns.tolist()
    all_cols = xtrain.columns.tolist()
    other_cols = [x for x in all_cols if x not in reduced_cols]
    print('other_cols='+str(other_cols))

other_cols=['date_block_num', 'shop_id', 'item_id', 'item_category_id', 'city', 'item_type', 'item_info', 'first_sale_date_block', 'new_item', 'month', 'numdays', 'month_sales', 'mean_prevmonth_item_price', 'std_prevmonth_item_price', 'median_prevmonth_item_price', 'median_prevmonth_shop_item_price', 'prop_median_item_price']

In [13]:
    xtrain_reduced = xtrain_reduced.clip(0)
    xtest_reduced = xtest_reduced.clip(0)

In [14]:
    
    xtrain_other = xtrain[other_cols]
    xtest_other =  xtest[other_cols]
    
    xtrain_reduced = downcast_more(xtrain_reduced)
    xtest_reduced = downcast_more(xtest_reduced)

In [16]:
xtrain_other.sh

(4181736, 17)

In [17]:
    
    print(xtrain_reduced.shape)
    print(xtest_reduced.shape)
    numtrain = xtrain_reduced.shape[0]
    numtest = xtest_reduced.shape[0]

(4181736, 126)
(214200, 126)

In [ ]:
    
    concat = pd.concat([xtrain_reduced,xtest_reduced])

In [20]:
    print(concat.shape)
    nmf_obj = NMF(n_components=ndim,random_state=0,verbose=True)
    tformed = nmf_obj.fit_transform(concat)

(4395936, 126)
violation: 1.0
violation: 0.3599797066509997
violation: 0.256323923087789
violation: 0.2093658057298335
violation: 0.16684592924327332
violation: 0.1366801839801207
violation: 0.10649689868114837
violation: 0.08564007290158765
violation: 0.07337390752790145
violation: 0.06234809382582413
violation: 0.05571951657444442
violation: 0.050640622516439235
violation: 0.04638454559797909
violation: 0.042509064641931715
violation: 0.03888290853325541
violation: 0.03508710397680055
violation: 0.0307111514424653
violation: 0.02634333720238898
violation: 0.022913264297696564
violation: 0.019684408972377488
violation: 0.01720254943973163
violation: 0.015234730596262805
violation: 0.01389433749345595
violation: 0.01292396299863384
violation: 0.01225039904837192
violation: 0.011740831336456033
violation: 0.01135204629518978
violation: 0.010527332608572386
violation: 0.009887584266983338
violation: 0.009230309268147888
violation: 0.008455802374488914
violation: 0.00765918398846877
violation: 0.006916978457674907
violation: 0.006245947954730415
violation: 0.005659417381765651
violation: 0.00513018025270409
violation: 0.004643923537070854
violation: 0.004191882438346629
violation: 0.003787349950210502
violation: 0.0034269579624936564
violation: 0.0031124433166568035
violation: 0.0028309305464917895
violation: 0.0025791306503064443
violation: 0.0023540739876528522
violation: 0.0021564173585869304
violation: 0.0019796174382705717
violation: 0.0018202295241603592
violation: 0.0016748506002506873
violation: 0.0015418893211070041
violation: 0.0014197961740832848
violation: 0.0013091421015202552
violation: 0.0012068967716747537
violation: 0.0011133983425507502
violation: 0.0010290492889236196
violation: 0.0009520897422271151
violation: 0.0008817551239060206
violation: 0.0008174479627385005
violation: 0.0007585503822169588
violation: 0.000704589881178803
violation: 0.0006550980667852943
violation: 0.0006096720190907624
violation: 0.0005678886937478441
violation: 0.0005292654569965292
violation: 0.0004937940886618263
violation: 0.000461077355956945
violation: 0.00043091096627798444
violation: 0.00040305347002104124
violation: 0.0003773062724803749
violation: 0.0003534855974326073
violation: 0.0003314015603200899
violation: 0.00031088823895812065
violation: 0.00029191399274637825
violation: 0.00027430405705140473
violation: 0.0002579473339821755
violation: 0.00024273423865324876
violation: 0.00022856028234520027
violation: 0.00021534595713743415
violation: 0.00020303089366741585
violation: 0.0001915079056109229
violation: 0.00018073283207009863
violation: 0.00017064901716684836
violation: 0.00016121023385861166
violation: 0.0001523694418838083
violation: 0.00014407945591805288
violation: 0.00013631523397653265
violation: 0.00012901598197071675
violation: 0.00012216449853459747
violation: 0.00011572409258163822
violation: 0.00010966892009605853
violation: 0.0001039705614993129
violation: 9.860934523571331e-05
Converged at iteration 91

In [21]:
    
    sep_bool = [True]*numtrain + [False]*numtest
    
    train_out = pd.DataFrame(tformed[sep_bool])
    test_out =  pd.DataFrame(tformed[[not x for x in sep_bool]])
    print(train_out.shape)

(4181736, 10)

In [24]:
xtrain_other.shape

(4181736, 17)

In [26]:
train_out = pd.concat([train_out,xtrain_other],axis=1)

In [28]:
train_out

,0,1,2,3,4,5,6,7,8,9,...,first_sale_date_block,new_item,month,numdays,month_sales,mean_prevmonth_item_price,std_prevmonth_item_price,median_prevmonth_item_price,median_prevmonth_shop_item_price,prop_median_item_price
0,0.000000,0.083339,9.203019,0.000000,0.039023,0.086206,0.034134,0.062925,0.662269,0.238254,...,0,0,jul,31,271433.0,149.000000,0.000000,149.000000,NaN,1.0
1,0.000000,1.098046,0.592791,0.000000,0.881526,0.709273,0.585828,0.229878,0.660228,0.586041,...,0,0,jul,31,271433.0,3270.833252,87.920151,3300.000000,NaN,1.0
2,0.000000,0.000000,0.000000,0.200511,0.510605,0.000000,0.574783,0.297556,0.000000,0.000000,...,0,0,jul,31,271433.0,600.000000,0.000000,600.000000,NaN,1.0
3,0.000000,0.010769,0.901872,0.175970,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8,0,jul,31,271433.0,359.000000,0.000000,359.000000,NaN,1.0
4,0.000000,1.105790,0.644942,0.554015,0.870492,0.682515,0.550227,0.570035,0.563953,0.555482,...,0,0,jul,31,271433.0,600.000000,0.000000,600.000000,600.0,1.0
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17,0,jul,31,271433.0,979.000000,0.000000,979.000000,NaN,1.0
6,0.000000,0.000000,0.305199,0.505928,0.000000,0.000000,0.003662,0.000000,0.614912,0.000000,...,11,0,jul,31,271433.0,249.000000,0.000000,249.000000,249.0,1.0
7,0.000000,0.000000,4.620146,2.558659,0.024995,0.000000,0.077019,0.061967,0.000000,0.000000,...,13,0,jul,31,271433.0,146.312500,15.202796,149.000000,149.0,1.0
8,0.000000,0.000000,0.000000,1.721577,0.001810,0.006179,0.014167,0.017080,0.000000,0.000665,...,15,0,jul,31,271433.0,2558.461426,143.210403,2599.000000,2599.0,1.0
9,0.000000,0.000000,0.000000,3.499046,0.004600,0.032083,0.042427,0.012469,0.002984,0.011292,...,15,0,jul,31,271433.0,2598.966553,0.147196,2599.000000,2599.0,1.0
10,0.000000,0.056443,0.398923,0.960207,0.000000,0.013708,0.000000,0.015142,0.000000,0.000000,...,15,0,jul,31,271433.0,2584.333252,87.828651,2599.000000,NaN,1.0
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18,1,jul,31,271433.0,NaN,NaN,NaN,NaN,1.0
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18,1,jul,31,271433.0,NaN,NaN,NaN,NaN,1.0
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18,1,jul,31,271433.0,NaN,NaN,NaN,NaN,1.0
14,0.000000,0.000000,5.233279,2.351444,0.033444,0.083017,0.073210,0.062314,6.828208,0.084713,...,11,0,jul,31,271433.0,1055.066650,17.975470,1049.000000,NaN,1.0
15,0.006025,0.000000,0.229813,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7,0,jul,31,271433.0,1500.000000,0.000000,1500.000000,NaN,1.0
16,0.024517,0.012040,0.411763,0.214336,0.000000,0.000000,0.000000,0.001853,0.005344,0.297477,...,7,0,jul,31,271433.0,500.000000,0.000000,500.000000,NaN,1.0
17,0.000000,0.000000,8.359263,0.923319,2.824465,8.535887,0.000000,3.024809,0.024933,0.000000,...,0,0,jul,31,271433.0,1385.974365,56.757790,1399.000000,1399.0,1.0
18,0.000000,0.000000,0.000000,0.000000,0.000000,3.248912,0.000000,2.227095,6.396245,3.846457,...,6,0,jul,31,271433.0,1398.995239,0.037796,1399.000000,NaN,1.0
19,0.000000,0.055504,6.127139,2.439762,0.000000,0.000000,0.007568,0.000000,0.000000,0.000000,...,12,0,jul,31,271433.0,2975.585449,104.680702,2999.000000,NaN,1.0
20,0.000000,0.035952,8.086489,4.059625,0.047272,4.001112,0.036285,0.000000,7.406728,4.387885,...,9,0,jul,31,271433.0,2593.539551,47.603764,2599.000000,2599.0,1.0
21,0.000000,3.078375,1.911225,3.640383,1.962680,0.000000,1.851563,3.475748,0.000000,3.015543,...,0,0,jul,31,271433.0,798.084351,5.771630,799.000000,799.0,1.0
22,0.000000,0.000000,0.000000,3.646809,0.008263,0.035001,0.045174,0.015168,0.003106,0.012770,...,7,0,jul,31,271433.0,999.000000,0.000000,999.000000,999.0,1.0
23,0.000000,0.035940,2.059379,0.686105,0.058393,4.031151,0.000000,0.000000,7.740193,4.462227,...,9,0,jul,31,271433.0,1609.027222,0.087581,1609.000000,NaN,1.0
24,0.000000,3.158329,0.000000,2.023115,0.000000,0.002345,0.170290,0.000000,0.000000,0.000000,...,0,0,jul,31,271433.0,54.320312,15.247529,49.000000,49.0,1.0
25,0.000000,0.000000,0.000000,1.859908,0.000000,3.291069,2.531018,1.988088,5.083629,0.000000,...,1,0,jul,31,271433.0,56.028984,17.208044,49.000000,49.0,1.0
26,0.000000,0.000000,0.000000,1.944613,0.000000,0.000000,0.000000,3.371102,0.000000,5.878069,...,0,0,jul,31,271433.0,55.222973,16.279373,49.000000,49.0,1.0
27,0.000000,0.000000,7.508940,1.128475,0.008393,3.364024,0.000000,0.000000,6.643090,3.970316,...,9,0,jul,31,271433.0,1817.590942,1167.047729,2499.000000,2499.0,1.0
28,0.000000,0.131036,9.055577,5.861923,0.091520,4.548069,0.076738,0.000000,6.874102,7.046649,...,9,0,jul,31,271433.0,1148.670654,231.686111,1199.000000,1199.0,1.0
29,0.000000,0.073771,8.608721,0.365473,0.032150,3.954797,0.000000,0.000000,7.373752,4.366615,...,9,0,jul,31,271433.0,2158.295410,867.333679,2499.000000,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4181706,0.000000,10.437409,0.000000,0.000000,0.000000,0.000000,3.310579,0.000000,0.000000,0.000000,...,9,0,sep,30,305383.0,162.333328,11.547006,169.000000,NaN,1.0
4181707,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21,0,sep,30,305383.0,249.000000,0.000000,249.000000,NaN,1.0
4181708,0.000000,1.671436,0.729842,2.225081,0.000000,6.727521,1.968324,1.144843,2.556511,3.878589,...,17,0,sep,30,305383.0,599.000000,0.000000,599.000000,599.0,1.0
4181709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,13,0,sep,30,305383.0,449.000000,0.000000,449.000000,NaN,1.0
4181710,0.000000,0.037562,0.102445,0.854985,0.000000,0.000000,0.000000,0.002348,2.745339,0.000000,...,25,0,sep,30,305383.0,2071.222168,242.527206,1949.000000,NaN,1.0
4181711,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,30,0,sep,30,305383.0,2499.000000,0.000000,2499.000000,NaN,1.0
4181712,0.000000,0.000000,0.000000,0.000000,2.492083,0.000000,0.000000,0.000000,0.000000,0.000000,...,4,0,sep,30,305383.0,198.000000,0.000000,198.000000,NaN,1.0
4181713,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.603750,3.415317,0.000000,0.000000,...,18,0,sep,30,305383.0,199.000000,0.000000,199.000000,NaN,1.0
4181714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,17,0,sep,30,305383.0,799.000000,NaN,799.000000,NaN,1.0
4181715,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,sep,30,305383.0,299.000000,0.000000,299.000000,NaN,1.0
4181716,0.000000,0.000000,1.654424,0.000000,0.000000,5.790000,0.000000,0.000000,0.353468,0.126524,...,0,0,sep,30,305383.0,199.000000,NaN,199.000000,NaN,1.0
4181717,0.000000,0.000000,0.000000,0.000000,4.258233,0.000000,0.000000,0.000000,0.000000,0.000000,...,13,0,sep,30,305383.0,299.000000,NaN,299.000000,NaN,1.0
4181718,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8,0,sep,30,305383.0,399.000000,NaN,399.000000,NaN,1.0
4181719,0.000000,0.000000,2.986181,1.416027,0.003001,0.014698,0.014376,0.021401,3.288306,0.070324,...,24,0,sep,30,305383.0,999.000000,0.000000,999.000000,999.0,1.0
4181720,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181721,0.000000,0.025395,5.447801,0.000000,0.000000,0.000000,0.003308,0.000000,0.000000,0.000000,...,27,0,sep,30,305383.0,99.000000,0.000000,99.000000,NaN,1.0
4181722,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,19,0,sep,30,305383.0,198.309998,71.686485,198.309998,NaN,1.0
4181723,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,28,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181724,0.000000,0.000000,0.000000,0.000000,0.000000,7.721829,2.391593,4.042379,2.789614,3.961165,...,17,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181725,0.000000,0.111223,0.000000,0.000000,1.384035,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181726,0.000000,4.782945,0.000000,0.000000,0.000000,0.000000,0.235770,0.000000,0.000000,0.000000,...,17,0,sep,30,305383.0,79.000000,NaN,79.000000,NaN,1.0
4181727,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,26,0,sep,30,305383.0,299.000000,0.000000,299.000000,NaN,1.0
4181728,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,32,1,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181729,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181730,0.000000,8.449997,0.000000,0.000000,5.703608,0.000000,2.353880,2.268824,0.000000,0.000000,...,0,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181731,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,29,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181732,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,sep,30,305383.0,349.000000,0.000000,349.000000,NaN,1.0
4181733,0.000000,0.002680,0.000000,0.000000,0.000000,0.000000,0.083500,2.220895,0.000000,0.000000,...,4,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181734,0.000000,3.585929,0.000000,0.000000,0.000000,0.000000,0.164662,0.000000,0.000000,0.000000,...,3,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0
4181735,0.000000,0.000000,0.000000,0.000000,3.499359,0.000000,0.000000,0.000000,0.000000,0.000000,...,6,0,sep,30,305383.0,NaN,NaN,NaN,NaN,1.0

In [ ]:
    
    train_out = pd.concat([train_out,xtrain_other],axis=1)
    test_out = pd.concat([test_out,xtest_other],axis=1)
    print(train_out.shape)

other_cols=['date_block_num', 'first_sale_date_block', 'new_item', 'numdays', 'month_sales', 'mean_prevmonth_item_price', 'std_prevmonth_item_price', 'median_prevmonth_item_price', 'median_prevmonth_shop_item_price', 'prop_median_item_price']

# other below

In [ ]:
def nmf_tform(xtrain,xtest,ndim):
    xtrain_reduced = xtrain.filter(regex='_\d+$')
    xtest_reduced = xtest.filter(regex='_\d+$')
    
    reduced_cols = xtrain_reduced.columns.tolist()
    all_cols = xtrain.columns.tolist()
    other_cols = [x for x in all_cols if x not in reduced_cols]
    print('other_cols='+str(other_cols))
#    return 5 , 5
    xtrain_reduced = xtrain_reduced.clip(0)
    xtest_reduced = xtest_reduced.clip(0)
    
    xtrain_other = xtrain[other_cols]
    xtest_other =  xtest[other_cols]
    
    xtrain_reduced = downcast_more(xtrain_reduced)
    xtest_reduced = downcast_more(xtest_reduced)
    
    print(xtrain_reduced.shape)
    print(xtest_reduced.shape)
    numtrain = xtrain_reduced.shape[0]
    numtest = xtest_reduced.shape[0]
    
    concat = pd.concat([xtrain_reduced,xtest_reduced])
    print(concat.shape)
    nmf_obj = NMF(n_components=ndim,random_state=0,verbose=True)
    tformed = nmf_obj.fit_transform(concat)
    
    sep_bool = [True]*numtrain + [False]*numtest
    
    train_out = pd.DataFrame(tformed[sep_bool])
    test_out =  pd.DataFrame(tformed[[not x for x in sep_bool]])
    print(train_out.shape)
    
    train_out = pd.concat([train_out,xtrain_other],axis=1)
    test_out = pd.concat([test_out,xtest_other],axis=1)
    print(train_out.shape)
    
    return train_out , test_out

In [ ]:
xtrain = x_train[0]
xtrain_reduced = xtrain.filter(regex='_\d+$')

In [ ]:
#xtrain_reduced.apply(lambda x: all(x>=0),axis=0)

In [ ]:
start = time.time()
a,b = nmf_tform(x_train[0].sample(10000),x_test[0],10)
print('BREAK')
#x_train[1] , x_test[1] = nmf_tform(x_train[1],x_test[1],10)
print((time.time()-start)/60)

In [ ]:
x_train[0]

In [ ]:
dfa

In [ ]:
[not x for x in [True,False]]