In [1]:
import pandas as pd

In [2]:
b2 = pd.read_csv('gen_data_backup_2/x_train_testfold.csv')
new = pd.read_csv('gen_data/x_train_testfold.csv')

In [4]:
b2.head()

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD
1,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray
2,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD
3,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD
4,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3

In [5]:
new.head()

,Unnamed: 0,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name
0,1,0,0,32,40,"!Якутск Орджоникидзе, 56 фран",1+1,Кино - DVD
1,2,0,0,33,37,"!Якутск Орджоникидзе, 56 фран",1+1 (BD),Кино - Blu-Ray
2,3,0,0,35,40,"!Якутск Орджоникидзе, 56 фран",10 ЛЕТ СПУСТЯ,Кино - DVD
3,4,0,0,43,40,"!Якутск Орджоникидзе, 56 фран",100 МИЛЛИОНОВ ЕВРО,Кино - DVD
4,5,0,0,51,57,"!Якутск Орджоникидзе, 56 фран",100 лучших произведений классики (mp3-CD) (Dig...,Музыка - MP3

In [6]:
new.columns

Index(['Unnamed: 0', 'date_block_num', 'shop_id', 'item_id',
       'item_category_id', 'shop_name', 'item_name', 'item_category_name'],
      dtype='object')

In [7]:
new.drop('Unnamed: 0',axis=1).equals(b2)

True