In [1]:
import pandas as pd
import numpy as np
import pickle
import itertools

In [2]:
train2 = pd.read_csv('../gen_data/train2.csv')
test0 = pd.read_csv('../original_data/test.csv.gz')

In [5]:
dateback_gen = range(1,34)
newdf = test0
val_month = 34
#hardcoded above
for dateback in dateback_gen:
    print(dateback,end=', ')
    train2_month = train2[train2.date_block_num==(val_month-dateback)][['shop_id','item_id','item_cnt_month']]
    train2_month.columns = ['shop_id','item_id','item_cnt_month_back_'+str(dateback)]
    newdf = newdf.merge(train2_month,how='left',on=['shop_id','item_id']).fillna(0)
    #train2_month = test0.merge(train2,on=['shop_id','item_id'],how='left').fillna(0)[['date_block_num','shop_id','item_id','item_cnt_month']]
    #print(train2_month.shape)
    #newdf = pd.concat([newdf,train2_month])

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,

# need to run this on unclipped and possibly cleaned data

In [6]:
newdf.head()

,ID,shop_id,item_id,item_cnt_month_back_1,item_cnt_month_back_2,item_cnt_month_back_3,item_cnt_month_back_4,item_cnt_month_back_5,item_cnt_month_back_6,item_cnt_month_back_7,...,item_cnt_month_back_24,item_cnt_month_back_25,item_cnt_month_back_26,item_cnt_month_back_27,item_cnt_month_back_28,item_cnt_month_back_29,item_cnt_month_back_30,item_cnt_month_back_31,item_cnt_month_back_32,item_cnt_month_back_33
0,0,5,5037,0.0,1.0,3.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5,5320,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,5,5233,1.0,3.0,1.0,0.0,2.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,5,5232,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,5,5268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
ALPHA=1
preds = test0.copy()
preds['item_cnt_month']=0.0
for dateback in dateback_gen:
    print(dateback,end=', ')
    item_cnt = newdf.iloc[:,dateback+2]
    item_cnt.transform(lambda x: x*np.exp(-ALPHA*dateback))
    preds['item_cnt_month'] += item_cnt
preds['item_cnt_month']=0.2839853/np.mean(preds.item_cnt_month) * preds.item_cnt_month

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,

In [9]:
preds.head()

            ID  shop_id  item_id  item_cnt_month
0            0        5     5037        0.586714
1            1        5     5320        0.000000
2            2        5     5233        0.451319
3            3        5     5232        0.045132
4            4        5     5268        0.000000
5            5        5     5039        0.496451
6            6        5     5041        0.225659
7            7        5     5046        0.361055
8            8        5     5319        2.482253
9            9        5     5003        0.000000
10          10        5     4806        3.294627
11          11        5     4843        0.045132
12          12        5     4607        0.225659
13          13        5     4869        0.812374
14          14        5     4870        4.422924
15          15        5     4872        3.565419
16          16        5     4874        0.000000
17          17        5     4678        0.135396
18          18        5     4892        1.128297
19          19        5     4964        0.225659
20          20        5     4717        2.166330
21          21        5     5002        0.000000
22          22        5     5823        3.339759
23          23        5     5814        1.173429
24          24        5     5900        0.767242
25          25        5     5907        0.000000
26          26        5     5908        0.000000
27          27        5     5643        1.263693
28          28        5     5657        1.218561
29          29        5     5675        0.676978
...        ...      ...      ...             ...
214170  214170       45    14543        0.000000
214171  214171       45    19253        0.270791
214172  214172       45    17957        0.090264
214173  214173       45    12470        0.000000
214174  214174       45     7543        0.180528
214175  214175       45     6661        0.180528
214176  214176       45    11137        0.000000
214177  214177       45    11489        0.225659
214178  214178       45     9782        0.090264
214179  214179       45     2972        0.902638
214180  214180       45    19889        0.045132
214181  214181       45    20650        0.045132
214182  214182       45     5665        0.135396
214183  214183       45     9978        0.000000
214184  214184       45    10767        0.000000
214185  214185       45    14443        0.090264
214186  214186       45    14341        0.000000
214187  214187       45     5401        0.045132
214188  214188       45     9500        0.000000
214189  214189       45    16007        0.000000
214190  214190       45     3280        0.045132
214191  214191       45     4393        0.045132
214192  214192       45     4352        0.361055
214193  214193       45    18049        0.135396
214194  214194       45    18027        0.000000
214195  214195       45    18454        0.406187
214196  214196       45    16188        0.000000
214197  214197       45    15757        0.270791
214198  214198       45    19648        0.000000
214199  214199       45      969        0.225659

[214200 rows x 4 columns]

In [45]:
train2 = test0.merge(train2,on=['shop_id','item_id'],how='left').fillna(0)

In [52]:
shops = test0.shop_id.unique()

In [53]:
items = test0.item_id.unique()

In [63]:
pd.DataFrame(np.vstack(list(itertools.product(shops,items))),columns=['shop_id','item_id'])

(214200, 2)

In [42]:
ALPHA = 1
for row in range(0,100):#test0.index:
    print(row)
    shop = test0.loc[row].shop_id
    item = test0.loc[row].item_id
    df = pd.DataFrame({'date_block_num':range(0,34),'item_cnt_month':np.full(34,np.nan)})
    for month in range(0,34):
        train2_df = train2[(train2.item_id==item) & (train2.shop_id==shop) & (train2.date_block_num==month)]
        if train2_df.shape[0]==0:
            df[df.date_block_num==month] = 0
        else:
            df.loc[month] = train2_df.item_cnt_month

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

KeyboardInterrupt:

In [40]:
df.loc[33]

date_block_num    33.0
item_cnt_month     NaN
Name: 33, dtype: float64