In [27]:
import pandas as pd
import numpy as np

In [28]:
old = pd.read_csv('../../gen_data/train2.1.csv')
new = pd.read_csv('../../gen_data/pyfile.csv') # from clean.ipynb

In [29]:
old_saved = old
new_saved = new

In [30]:
old = old_saved
new = new_saved

In [31]:
newcols = new.columns.tolist()
old = old[newcols]

old = old.sort_values(newcols).reset_index(drop=True)
new = new.sort_values(newcols).reset_index(drop=True)

In [32]:
diff_items = old.item_id != new.item_id

In [33]:
od = old[diff_items]

In [34]:
nd = new[diff_items]

In [35]:
nd

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

In [36]:
od[~od.shop_id.isin([0,1])]

Empty DataFrame
Columns: [date_block_num, shop_id, item_id, item_category_id, shop_name, item_name, item_category_name, item_cnt_month]
Index: []

In [37]:
old.equals(new)

True