In [7]:
import pandas as pd
import numpy as np

In [12]:
test0py = pd.read_csv('../../original_data/test.csv.gz')

In [14]:
train2 = pd.read_csv('../../gen_data/train2.csv')

In [27]:
X = train2[train2['date_block_num']==33].drop(['date_block_num','shop_name','item_name','item_category_name','item_category_id'],axis=1)

In [52]:
week2_advice = pd.merge(test0py,X,how='left',on=['shop_id','item_id']).drop(['shop_id','item_id'],axis=1)
week2_advice.columns = ['ID','item_cnt_month']
week2_advice['item_cnt_month'] = np.where(week2_advice['item_cnt_month'].isna(),0,week2_advice['item_cnt_month'])
week2_advice.head()

   ID  item_cnt_month
0   0             0.0
1   1             0.0
2   2             1.0
3   3             0.0
4   4             0.0

In [47]:
week2_advice.to_csv('../../gen_data/week2_advice.csv',index=False)

In [62]:
#this code, (or something similar) will be saved in customModels.py
test0py = pd.read_csv('../../original_data/test.csv.gz')
class aggModel:
    
    def __init__(self,agg_len):
        self.agg_len = agg_len
    def fit(self,x_data,y_data):
        max_date_block = max(x_data['date_block_num'])
        
        X = x_data[(x_data['date_block_num']<=max_date_block) & (x_data['date_block_num'] > (max_date_block - self.agg_len))]
        
        X = pd.merge(test0py,X,how='left',on=['shop_id','item_id'])
        X = X.fillna(0)
        self.pred = X['sales']
        
    def predict(self,x_data):
        return(self.pred)

In [75]:
mod = aggModel(1)

In [76]:
mod.agg_len

1

In [77]:
mod.fit(train2,train2['sales'])

In [78]:
mod.predict(train2)

0         0.0
1         0.0
2         1.0
3         0.0
4         0.0
5         1.0
6         2.0
7         0.0
8         0.0
9         0.0
10        3.0
11        0.0
12        0.0
13        0.0
14        2.0
15        6.0
16        0.0
17        0.0
18        2.0
19        0.0
20        1.0
21        0.0
22        1.0
23        1.0
24        3.0
25        0.0
26        0.0
27        0.0
28        2.0
29        7.0
         ...
214170    0.0
214171    0.0
214172    0.0
214173    0.0
214174    0.0
214175    0.0
214176    0.0
214177    0.0
214178    0.0
214179    0.0
214180    0.0
214181    0.0
214182    0.0
214183    0.0
214184    0.0
214185    0.0
214186    0.0
214187    1.0
214188    0.0
214189    0.0
214190    0.0
214191    0.0
214192    0.0
214193    0.0
214194    0.0
214195    1.0
214196    0.0
214197    0.0
214198    0.0
214199    0.0
Name: sales, Length: 214200, dtype: float64