In [1]:
import numpy as np
import pandas as pd
import pickle

# Read in Data

In [2]:
train2 = pd.read_csv('../../gen_data/train2.csv')
#as a reference, get test
test_df = pd.read_csv('../../original_data/test.csv.gz')

# Split data

### Generate X training data

In [3]:
x_train_list = []
x_train_list.append(train2[train2.date_block_num<33])
x_train_list.append(train2)

### Generate Y training data

In [4]:
y_train_list = []
y_train_list.append(x_train_list[0].item_cnt_month)
y_train_list.append(x_train_list[1].item_cnt_month)

### Delete target from x training data

In [5]:
x_train_list[0] = x_train_list[0].drop('item_cnt_month',axis=1)
x_train_list[1] = x_train_list[1].drop('item_cnt_month',axis=1)

### Generate x test data

In [6]:
x_test_list = []
x_test_list.append(train2[train2.date_block_num==33].drop(['item_name','item_category_id','item_category_name','shop_name'],axis=1))
x_test_list.append(test_df.drop('ID',axis=1))

x_test_list[0] is missing rows from test_list[1], test_df is missing columns

# Fix up test_list[0]

### Add rows to test_list[0]

In [7]:
x_test_list[0] = test_df.merge(x_test_list[0],how='left').drop('ID',axis=1)
x_test_list[0]['item_cnt_month'] = x_test_list[0].item_cnt_month.fillna(0)

### Fill in columns using only data that is available at the time

In [8]:
x_test_list[0].date_block_num = 33

##### Fill in item data

In [9]:
#using x_train_list[0], (which goes up to and including month 32)
x_train_32_item_data = x_train_list[0][['item_id','item_category_id','item_name','item_category_name']].drop_duplicates()
x_test_list[0] = x_test_list[0].merge(x_train_32_item_data,how='left',on='item_id')

##### Fill in shop data

In [10]:
x_train_32_shop_data = x_train_list[0][['shop_id','shop_name']].drop_duplicates()
x_test_list[0] = x_test_list[0].merge(x_train_32_shop_data,how='left',on='shop_id')

# Fix up test_list[1]

In [11]:
x_test_list[1]['date_block_num'] = 34

In [12]:
x_train_33_item_data = x_train_list[1][['item_id','item_category_id','item_name','item_category_name']].drop_duplicates()
x_test_list[1] = x_test_list[1].merge(x_train_33_item_data,how='left',on='item_id')

In [13]:
x_train_33_shop_data = x_train_list[1][['shop_id','shop_name']].drop_duplicates()
x_test_list[1] = x_test_list[1].merge(x_train_33_shop_data,how='left',on='shop_id')

### split x and y

In [14]:
y_test_list = []
y_test_list.append(x_test_list[0].item_cnt_month)
y_test_list.append(pd.Series(np.full(test_df.shape[0],np.nan),index=x_test_list[1]))

x_test_list[0] = x_test_list[0].drop('item_cnt_month',axis=1)

In [15]:
#save items as a list so that I can add more validation schemes later
pickle.dump(x_train_list,open('../../gen_data/x_train--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump(y_train_list,open('../../gen_data/y_train--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump(x_test_list,open('../../gen_data/x_val--simple_validation_split.ipynb--.pickle','wb'))
pickle.dump(y_test_list,open('../../gen_data/y_val--simple_validation_split.ipynb--.pickle','wb'))

Ive just straight up paired month33 sales with test, like, linking the rows

# exp

In [16]:
train2 = pd.read_csv('../../gen_data/train2.csv')
train2_33 = train2[train2.date_block_num==33]

In [17]:
x_test_list[0].head()

,shop_id,item_id,date_block_num,item_category_id,item_name,item_category_name,shop_name
0,5,5037,33,19.0,"NHL 15 [PS3, русские субтитры]",Игры - PS3,"Вологда ТРЦ ""Мармелад"""
1,5,5320,33,NaN,NaN,NaN,"Вологда ТРЦ ""Мармелад"""
2,5,5233,33,19.0,"Need for Speed Rivals (Essentials) [PS3, русск...",Игры - PS3,"Вологда ТРЦ ""Мармелад"""
3,5,5232,33,23.0,"Need for Speed Rivals (Classics) [Xbox 360, ру...",Игры - XBOX 360,"Вологда ТРЦ ""Мармелад"""
4,5,5268,33,NaN,NaN,NaN,"Вологда ТРЦ ""Мармелад"""

In [18]:
y_test_list[0].head()

0    0.0
1    0.0
2    1.0
3    0.0
4    0.0
Name: item_cnt_month, dtype: float64

In [19]:
train2_33[(train2_33.item_id==5233)&(train2_33.shop_id==5)]

,date_block_num,shop_id,item_id,item_category_id,shop_name,item_name,item_category_name,item_cnt_month
1579057,33,5,5233,19,"Вологда ТРЦ ""Мармелад""","Need for Speed Rivals (Essentials) [PS3, русск...",Игры - PS3,1.0

In [20]:
print(x_train_list[0].shape)
print(x_train_list[1].shape)
print(x_test_list[0].shape)
print(x_test_list[1].shape)
print(y_test_list[0].shape)
print(y_test_list[1].shape)
print(y_train_list[0].shape)
print(y_train_list[1].shape)

(1577593, 7)
(1609124, 7)
(214200, 7)
(214200, 7)
(214200,)
(214200,)
(1577593,)
(1609124,)

# end exp