In [1]:
import numpy as np
import pandas as pd
import pickle

In [5]:
import validation_library as vl

In [9]:
const_sols = [0.2,0.25,0.3,0.35,0.4,0.275,0.2875]
test_scores = [1.22032,1.21791, 1.21754,1.21922,1.22295,1.21747,1.21744]

In [10]:
f = open('../../gen_data/master_validation_list.pickle','rb')
x_train_list , y_train_list , x_val_list, y_val_list = pickle.load(f)

In [81]:
validation_df = pd.DataFrame({'model': const_sols, 'test_score': test_scores})
for i in range(33,20,-1):
    validation_df['valid_'+str(i)] = np.nan
validation_df

,model,test_score,valid_33,valid_32,valid_31,valid_30,valid_29,valid_28,valid_27,valid_26,valid_25,valid_24,valid_23,valid_22,valid_21
0,0.2000,1.22032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.2500,1.21791,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.3000,1.21754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.3500,1.21922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.4000,1.22295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.2750,1.21747,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,0.2875,1.21744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
n_folds = len(x_train_list)
for i in range(n_folds):
    loss_list=[]
    for const in const_sols:
        loss = np.sqrt(np.mean((const - y_val_list[i])**2))
        loss_list.append(loss)
    validation_df['valid_'+str(i+21)] = pd.Series(loss_list)

In [83]:
validation_df

,model,test_score,valid_33,valid_32,valid_31,valid_30,valid_29,valid_28,valid_27,valid_26,valid_25,valid_24,valid_23,valid_22,valid_21
0,0.2000,1.22032,3.084524,3.096818,2.658519,2.548460,2.772139,2.878565,3.016230,2.802889,2.803702,3.168798,3.876901,3.463024,3.516246
1,0.2500,1.21791,3.056383,3.068950,2.627873,2.517970,2.742534,2.849806,2.988290,2.772886,2.773452,3.139343,3.847791,3.435109,3.488514
2,0.3000,1.21754,3.028807,3.041649,2.597828,2.488111,2.713528,2.821639,2.960931,2.743466,2.743780,3.110414,3.819114,3.407698,3.461282
3,0.3500,1.21922,3.001810,3.014930,2.568405,2.458906,2.685139,2.794083,2.934168,2.714648,2.714704,3.082024,3.790879,3.380804,3.434563
4,0.4000,1.22295,2.975408,2.988809,2.539625,2.430379,2.657389,2.767156,2.908020,2.686452,2.686245,3.054189,3.763097,3.354440,3.408367
5,0.2750,1.21747,3.042524,3.055228,2.612774,2.502960,2.727955,2.835647,2.974537,2.758102,2.758543,3.124812,3.833398,3.421339,3.474835
6,0.2875,1.21744,3.035647,3.048420,2.605282,2.495515,2.720722,2.828624,2.967715,2.750765,2.751143,3.117596,3.826242,3.414502,3.468043